[2020-09-10 16:33] arkivanov opened #1 "Try to make it multiplatform"

[2020-09-10 21:39] arkivanov commented on #1
WIP: https://github.com/arkivanov/Decompose/tree/mpp

[2020-09-17 08:56] arkivanov commented on #1
Done!

[2020-09-17 08:56] #1 closed

[2020-10-04 15:04] arkivanov opened #3 "Unresolved imports in commonMain when adding the Bintray dependency"
For some reason all imports are unresolved when Decompose is added to a Multiplatform module as Bintray dependency.

[2020-10-04 15:38] jimKarsh commented on #3
Created a blank android project and added decompose as a dependency; it shows up in the module configuration but not the gradle dependencies.

[2020-10-04 18:56] arkivanov commented on #3
Maybe this is because of the MPP workaround, which is applied to `decompose` module as well. I will try to publish `decompose` without any hacks, and move Compose stuff to a separate android library module.

[2020-10-04 21:15] arkivanov commented on #3
Alright, applying the following change fixes the publication:
![image](https://user-images.githubusercontent.com/26204457/95027213-bc58f000-068e-11eb-8aa1-459d5b8f05cb.png)

This adds the important comments to `pom` files:
![image](https://user-images.githubusercontent.com/26204457/95027229-d98dbe80-068e-11eb-9df2-56e1a2eab2a2.png)

This makes imports resolved. But it does not compile in a project

[2020-10-04 23:07] arkivanov commented on #3
@jimKarsh I have published version 0.0.8, this issue should be fixed now. There are now two modules:
- `decompose` - the main multiplatform module with all functionality (multipaltform)
- `extensions-compose` - all extensions and utils for Jetpack Compose (Android only)

Updated the [Setup section](https://github.com/arkivanov/Decompose#setup) of the Readme.

[2020-10-05 09:01] steelahhh commented on #3
Checked with a blank project – all imports are resolved, library shows up in external libraries

[2020-10-05 09:13] arkivanov commented on #3
Looks like this issue can be closed now. Feel free to reopen, if there are any issues.

[2020-10-05 09:13] #3 closed

[2020-10-30 20:39] arkivanov opened #4 "Update Compose to 1.0.0-alpha06"

[2020-10-31 10:24] #4 closed

[2020-11-03 22:23] arkivanov commented on #6
Absolutely, unit tests are very important. Since Decompose API is now more stable, I will start testing it soon. Once some first tests are there I will appreciate contributions.

Regarding testing client code. Some tests will be available in the community within a few days. Please stay tuned. After that I will appreciate contributions in adding similar to Decompose samples. Also for navigation, I

[2020-11-04 21:36] arkivanov commented on #7
Looks this is a common behaviour of KMM, I bumped into this multiple time. My workaround always was to dummy-use the API in Kotlin that I need only in iOS. I will ask this in Kotlin Slack.

[2020-11-04 21:56] arkivanov commented on #7
Do you explicitly export Decompose to the iOS framework?

[2020-11-04 22:13] gumil commented on #7
I've tried it but it doesn't export. I guess it only exports local modules.

[2020-11-04 22:14] arkivanov commented on #7
Ok, I will check. Thanks!

[2020-11-05 10:24] arkivanov commented on #6
So as promised, examples of unit and integration tests can found [here](https://github.com/JetBrains/compose-jb/tree/master/examples/todoapp/common/main/src/commonTest/kotlin/example/todo/common/main). Examples of navigation testing are coming soon.

[2020-11-06 18:12] arkivanov commented on #7
So I found a way to export all transitive dependencies:

![image](https://user-images.githubusercontent.com/26204457/98400247-9cd13080-205b-11eb-8ba6-d97ff715bc0d.png)

[2020-11-07 00:56] arkivanov commented on #6
Just pushed navigation [tests](https://github.com/arkivanov/Decompose/tree/master/sample/todo/root/src/commonTest/kotlin/com/arkivanov/todo/root/integration) for sample Todo `root` module.

[2020-11-07 01:03] arkivanov opened #8 "Adopt tests from Desktop Compose Todo example for Decompose Todo sample"
The Desktop Compose [Todo example](https://github.com/JetBrains/compose-jb/tree/master/examples/todoapp/common/main/src/commonTest/kotlin/example/todo/common/main) is very similar to what we have in Decompose. There are tests for the `main` module which we can adopt, for `list` and `add` modules. Would be good to keep the original code and naming style.

[2020-11-10 01:15] arkivanov opened #9 "Add extensions for JetBrains Compose (Multiplatform)"
Almost copy-paste from `extensions-compose`

[2020-11-10 01:16] arkivanov commented on #7
Closing this for now. Feel free to reopen if there are any questions.

[2020-11-12 17:10] arkivanov opened #10 "Add documentation"

[2020-11-12 18:33] gumil commented on #7
I had just a chance to try this approach. Koltin files with top level functions and a class won't import the top level functions. Only the class.

[2020-11-12 18:40] arkivanov commented on #7
@gumil Top level functions are normally exported in a class named "FileNameKt". E.g. you have some top-level functions in a file named "Foo.kt". Then there should be a class exported, named "FooKt". All functions should be there. Could you please check?

[2020-11-12 19:02] gumil commented on #7
It works now! thanks for the help. An additional information for anyone who'll ever see this issue is that the transitive dependency should be an API dependency

[2020-11-12 19:08] arkivanov commented on #7
Yes, totally forgot about `api` qualifier. This actually not related to Decompose, but rather to Kotlin Multiplatform itself.😊 Glad it works now!

[2020-11-13 23:32] arkivanov commented on #9
Done

[2020-11-13 23:32] #9 closed

[2020-11-15 12:45] arkivanov commented on #11
Hello @steelahhh! Thanks for the report. I could only reproduce the issue with nested routers. This is broken indeed and I will fix it.

But I could not reproduce the issue with call order. Activity `onBackPressed` is called before components, and I believe this is by design. Decompose hooks to AndroidX `OnBackPressedDispatcher`, which is called from inside Activity `onBackPressed`.

[2020-11-15 13:16] steelahhh commented on #11
Found a bit more exact case when it happens:

In the todo sample app, whatever is in `backPressedDispatcher.register` in the `TodoEditImpl` doesn't get executed when doing `unregister` in `onDestroy`. But without `unregister`ing it does get called, but only after navigating back.

Also, it does seem to be called when it's in the topmost item in the stack (i.e. pressing back button calls system `on

[2020-11-15 13:33] arkivanov commented on #11
Thanks! I will fix it.

[2020-11-15 16:11] arkivanov commented on #11
So both cases (nested routers and "whatever is in `backPressedDispatcher.register` in the `TodoEditImpl` doesn't get executed when doing `unregister` in `onDestroy`") are because of the wrong iteration order of the registered handlers. This regression was introduced in version `0.1.1`. This is now fixed via 9103261ccfdb33e9c64fce3eb459d793e45a4968.

The case "without `unregister`ing it does get ca

[2020-11-15 16:15] arkivanov commented on #11
Version `0.1.2` is published.

[2020-11-25 15:04] xetra11 opened #12 "Can not resolve jetbrains compose extension in your bintray"
[code]
Error:
[code]

[2020-11-25 15:05] xetra11 commented on #12
typo

[2020-11-25 15:05] #12 closed

[2020-11-25 15:38] arkivanov commented on #13
@xetra11 in `Composable` functions you should prefer `Composable` [Value.observe](https://github.com/arkivanov/Decompose/blob/fb62851584d50a91acf0a967ddc67de25c2abc82/extensions-compose-jetbrains/src/commonMain/kotlin/com/arkivanov/decompose/extensions/compose/jetbrains/ValueComposable.kt#L28) extension function. An example using Jetpack Compose can be found [here](https://github.com/arkivanov/Dec

[2020-11-25 15:54] arkivanov commented on #13
Also you may like to use `Value.asState` extension function:

[code]

Probably it is worth to deprecate the `Composable` `Value.observe` extension, will think about it.

[2020-11-25 15:57] xetra11 commented on #13
Ok I give it a new try. Thanks for the quick reply

[2020-11-25 20:15] xetra11 commented on #13
Sorry to bother you again but I have a hard time grasping the concept and usage of Decompose. I read over it several times now but still can not apply it to my use case properly.

See this is my `CharacterTable` component in which I'd like to inject the observable state into and read and write to it:

[code]

Now I have this state here defined:

[code]

Can you give me an example with the provided

[2020-11-25 20:27] arkivanov commented on #13
Hey, I'm here to help! I think you can just write as follows:
[code]

You may want to add a callback to the `CharacterTable` (or to any other Composable depending on your requirements):
[code]

And then your `render` function will become:
[code]

[2020-11-25 20:51] xetra11 commented on #13
Ok I see. However I still can't figure out how to "use" this composable with state in other composable components then.

This is my existing code with the `CharacterTable` function call. I try to use the given information. Can you verify that I am using this the right way coping with the concept?

[code]

Reading over that that way I don't like the naming of `render` here since I have no clue that

[2020-11-25 21:07] arkivanov commented on #13
Something wrong in your example. E.g. the `characters` argument is not used. What are you trying to achieve? Maybe I could provide a complete code snipped based on your idea?

[2020-11-25 21:08] xetra11 commented on #13
@arkivanov Thanks for your time but I think I mixed up some concepts here and there. Having a hard time grasping the state concepts with Compose for Desktop. Completely new to the field ;)

[2020-12-07 11:33] arkivanov opened #15 "Investigate possibility of Composable Navigator"
The use case is raised in https://github.com/JetBrains/compose-jb/issues/85. We should investigate possibility of simple `@Composable` `Navigator`, just like Jetpack Compose navigation.

[2020-12-08 18:37] tieskedh opened #16 "Parcelize fails in Kotlin 1.4.21-release-studio4.2.1"
- the methods don't get their functions `describeContents` and `toParcel` functions
- Parcelize fails, because it has no constructor

[2020-12-08 18:48] arkivanov commented on #16
Please make sure your are using the new `kotlin-parcelize` plugin. Check out this doc: https://kotlinlang.org/docs/reference/whatsnew1420.html#new-plugin-for-parcelable-implementation-generator

If you still have problems, could you please provide a reproducer?

[2020-12-08 21:09] tieskedh commented on #16
Thanks!
Before I went bak to 1.4.20, I saw that it indeed solved the issue.
(I went back as my main function could not be found anymore)

[2020-12-08 21:09] #16 closed

[2020-12-26 15:02] steelahhh opened #25 "Runtime crash on Children"
I've recently updated to the latest version, and getting a crash when using new `Children` function:
[code]

I'm using `extensions-compose-jetpack` in a plain Android module but can repro with a new empty compose project, adding decompose dependencies and using [this setup](https://github.com/arkivanov/Decompose#routing-example)

[2020-12-26 15:05] arkivanov commented on #25
Thanks for the report. Would you be able to attach a reproducer project? Just a zip archive would be enough. Or a GitHub repository.

[2020-12-26 15:14] steelahhh commented on #25
Sure! [Here's the repro](github.com/steelahhh/Decompose-Crash-Repro)

[2020-12-26 15:15] arkivanov commented on #25
Thanks! The link looks broken, it gives 404. Could you please check?

[2020-12-26 18:35] arkivanov commented on #25
Seems like the crash happens if the library is published from my MacOS machine. If published from another Ubuntu machine - it is fine. Will need some time to investigate. As a workariund, you can publish Decompose locally with a custom version.

[2020-12-27 12:34] steelahhh commented on #25
I've tried that now, and getting the same issue (Mac OS as well). So I'm going to resort to `includeBuild` for now

[2020-12-27 17:10] arkivanov commented on #25
Looks like I found a workaround fix for this crash: #28 . You mentioned that you reproduced the crash when published manually to a local repository. Would you mind to also check from that branch?

[2020-12-27 17:33] steelahhh commented on #25
Yep, checked on that branch - doesn't crash now 👍

[2020-12-28 10:55] #25 closed

[2020-12-28 11:12] arkivanov commented on #25
Version `0.1.5` is published, should be fixed now.

[2021-01-06 20:37] plusmobileapps commented on #10
Hello @arkivanov! I have just started using Decompose in my KMP project and would like to help create the documentation to better understand the whole framework. I have setup [Material MkDocs](https://squidfunk.github.io/mkdocs-material/) before for personal use on another project and wondering if that is a suitable tool for documenting Decompose. Let me know how I can help assist and get the docu

[2021-01-07 10:56] arkivanov commented on #10
Hi @plusmobileapps , that's sounds good! I also wanted to use GitHub.io, and I like the Material design you are proposing. So I see no reason why we should not use it. So let's start with some initial setup from your side? Then I could add some structure with empty pages. And then we could fill it.

[2021-01-07 18:11] plusmobileapps commented on #10
Alright, so I did some initial setup in this [repository](https://github.com/plusmobileapps/decompose-docs) and the site is published on GitHub.io at https://plusmobileapps.com/decompose-docs/.

I added just a few tabs porting some of the readme over into the sections. If you wanted to start adding some structure to the documentation and then I can help try to fill out some if its anything I might

[2021-01-07 18:26] arkivanov commented on #10
I thought we can use GitHub pages for this. Like I have this for MVIKotlin: https://arkivanov.github.io/MVIKotlin/

Can we apply material theme there, or is it a different thing?

[2021-01-07 18:30] arkivanov commented on #10
MkDocs looks more complex, like you need to install something etc.
Also why do you think we need some automation? Generating reference docs from KDocs?

[2021-01-07 18:47] plusmobileapps commented on #10
Yes, GitHub Pages is being used to host the website. Sorry if there is confusion because I use GitHub Pages for my personal plusmobileapps.github.io with a custom domain, it seems to also use my custom domain for hosting other projects. So if you actually go to http://plusmobileapps.github.io/decompose-docs/, it just redirects to the custom domain which is why I was wondering if it made sense to h

[2021-01-07 18:55] arkivanov commented on #10
Thanks, now it's more clear. I would like to host docs in the Decompose repository. I could enable GitHub pages for this repository in the settings. Then you could make a PR here with initial setup. Does it sound correct?

[2021-01-07 21:23] plusmobileapps commented on #10
Alright @arkivanov, I created a [pull request](https://github.com/arkivanov/Decompose/pull/31) that sets up Material MkDocs in the repository and the site should be https://arkivanov.github.io/Decompose after it is merged.

I got it working in my fork by testing going to https://plusmobileapps.github.io/Decompose/ after the changes were merged into my fork's master branch. Keep in mind from my not

[2021-01-08 14:46] arkivanov commented on #10
Thanks, I will check!

[2021-01-20 20:15] arkivanov commented on #10
@plusmobileapps  Thanks for #34. So it is merged, but there is no `gh-pages` branch to select in the settings. Should I create it?

[2021-01-20 22:39] plusmobileapps commented on #10
@arkivanov awesome that got merged! It takes a couple minutes once merged for the GitHub Action script to fully run and deploy to the `gh-pages` branch. I see the branch got generated now [here](https://github.com/arkivanov/Decompose/tree/gh-pages), so you should just need to go into the settings of the repository like in this [comment](https://github.com/arkivanov/Decompose/pull/34#issuecomment-7

[2021-01-20 22:41] plusmobileapps commented on #10
BTW, if you are ever wanting to see the status of the workflows that deploy the documentation then you can look under the actions tab of the repository at [this job](https://github.com/arkivanov/Decompose/actions?query=workflow%3A%22build+and+deploy+material+mkdocs+to+gh-pages%22)

[2021-01-20 22:47] arkivanov commented on #10
Thanks! I set it. Did not know that we need to wait for the job before the branch is created.

[2021-01-20 23:12] plusmobileapps commented on #10
No worries, it is that job which will push the deployment to that branch. Well I see it is working now if you go to https://arkivanov.github.io/Decompose/ ! What else can I do to help with the documentation?

[2021-01-20 23:24] arkivanov commented on #10
Thanks again! Now I need to get my head around of what should be the structure and content of the documentaion. I will get back if I need more help.

[2021-01-20 23:25] arkivanov commented on #8
Not needed anymore

[2021-01-20 23:25] #8 closed

[2021-01-20 23:45] arkivanov commented on #6
@gumil It would be nice if you could add tests for [MergedLifecycle](https://github.com/arkivanov/Decompose/blob/master/decompose/src/commonMain/kotlin/com/arkivanov/decompose/lifecycle/MergedLifecycle.kt). It accepts two `Lifecycles` and also implements `Lifecycle`. The state of the resulting `Lifecycle` (this) should always be minimum of the two.
I recently added tets for `Router`, sou you can c

[2021-01-21 08:22] gumil commented on #6
@arkivanov I won't be able to contribute for now.

[2021-01-24 12:42] arkivanov commented on #10
@plusmobileapps Here is an issue #50 , that would be nice to add to the documentation. I will be happy if you could help with this.

[2021-01-24 21:35] plusmobileapps commented on #10
I will take a look at that @arkivanov and see what I can come up with. Might have a couple questions for that issue to make sure I can document it correctly.

On a side note, since the GitHub Pages site is now up, should we update the GitHub repository to reflect the documentation website in the top right corner so it is easily accessible? Would obviously replace that link with the https://arkivan

[2021-01-24 22:39] plusmobileapps commented on #50
I think I understand your solution to creating a custom component context and put up a PR to add that. I'm not sure I fully understand the need for having a custom component context, but let me know if any changes are needed to make the new documentation more clear 😄

[2021-01-25 17:54] arkivanov commented on #10
Updated, thanks for pointing on that!

[2021-01-25 17:56] arkivanov commented on #50
I also don't fully understand why this might be used. But it was asked multiple times, hence the solution. Probably some global things that are needed in (almost) every component. So you don't need to explicitly pass it through all components.

[2021-01-25 17:59] arkivanov commented on #50
Closed via #52

[2021-01-30 00:59] arkivanov commented on #10
@plusmobileapps when we open Https://arkivanov.github.io/decompose and tap on the menu drawer button, the Overview section is already selected. So you need to tap Back to see the main menu. It is quite confusing. Can make the main menu initial?

[2021-01-30 02:44] plusmobileapps commented on #10
I see what you are talking about, let me play around with it this weekend and I'll see what I can do about that

[2021-02-03 09:33] arkivanov commented on #15
I made a decision to not include a Composable Navigator into the library. It contradicts the philosophy of Decompose to keep navigation and business logic separate from UI.

My advice is to follow the Decompose patterns. But if you really want a Composable Navigator, please read the following article: [A comprehensive hundred-line navigation for Jetpack/Desktop Compose](https://proandroiddev.com/a

[2021-02-03 09:33] #15 closed

[2021-02-07 19:45] arkivanov commented on #61
Hello. Decompose uses Kotlin 1.4.20-2. Please use this version as of now.

[2021-02-07 19:47] Shabinder commented on #61
Thanks for quick reply

[2021-02-07 19:53] arkivanov commented on #61
I'm waiting for Jetpack Compose to be updated to Kotlin 1.4.30. If you are using Desktop Compose, please stick to version `0.3.0-build146` for now.

[2021-02-07 20:49] Shabinder opened #62 "@Parcelize does not have a constructor error"
![image](https://user-images.githubusercontent.com/44765050/107159090-042cb280-69b4-11eb-8908-232cf9718dcd.png)

[2021-02-07 20:56] arkivanov commented on #62
Please make sure you enabled kotlin-parcelize plugin, example: https://github.com/JetBrains/compose-jb/blob/c8b0ee23d0c18e130d223d2e8934bf5b25a67878/examples/todoapp/common/root/build.gradle.kts#L6

[2021-02-08 06:36] Shabinder commented on #62
Thanks , I missed that.

[2021-02-08 06:36] #62 closed

[2021-02-08 06:38] Shabinder commented on #61
after upgrading to 0.3.0-build146 and kotlin to 1.4.20-2 in my KMP project , Android gives error at setContent
![image](https://user-images.githubusercontent.com/44765050/107184284-4848a300-6a06-11eb-8f38-b791c330ec95.png)

[2021-02-08 08:41] arkivanov commented on #61
Build 0.3.0-build146 should work fine with Kotlin 1.4.20-1. The error you are getting is bug in a newer version of Compose: https://github.com/JetBrains/compose-jb/issues/354

[2021-02-08 08:53] Shabinder commented on #61
yup got fixed after cleaning and rebuilding after downgrading to 146

[2021-02-10 13:41] Shabinder opened #64 "Error: java.lang.NoClassDefFoundError: android/os/Looper in: DefaultStore.kt:31"
**Caused by: java.lang.NoClassDefFoundError: android/os/Looper**
        at kotlinx.coroutines.android.AndroidDispatcherFactory.createDispatcher(HandlerDispatcher.kt:55)
        at kotlinx.coroutines.android.AndroidDispatcherFactory.createDispatcher(HandlerDispatcher.kt:52)
        at kotlinx.coroutines.internal.MainDispatchersKt.tryCreateDispatcher(MainDispatchers.kt:57)
        at kotlinx.corout

[2021-02-10 13:43] Shabinder commented on #64
All Implementations Are very similar to as shown in todo app , except these are coroutine/suspend instead of Reaktive

[2021-02-10 13:44] Shabinder commented on #64
Crash is in Desktop only , same implementation works good in Android app(All Code is Common/Shared module)

[2021-02-10 14:15] arkivanov commented on #64
Hello, this issue is not related to Decompose. Could you please raise it for MVIKotlin? Thanks!

[2021-02-10 14:33] Shabinder commented on #64
oops , posted at wrong place, will raise issue in MVIKotlin.

[2021-02-10 14:33] #64 closed

[2021-02-12 04:08] ScottPierce opened #69 "Router.push is ignored when in the process of transitioning to another component."
I've found a bug where a router push event is ignored when performed during an ongoing navigation.

I haven't migrated to the latest Kotlin yet, so I'm still on Decompose `0.1.7`, and Kotlin `1.4.21-2`

Here is the situation:
I have a `RootComponent`, which has 3 child components, `A`, `B`, and `C`.

We start the app by displaying `A` where an auth occurs
[code]

After the user logs in, we navigat

[2021-02-12 09:49] arkivanov commented on #69
Hello @ScottPierce and thanks for the issue. I could not reproduce the bug, would you mind to provide a reproducer? I tried the following code, it prints "C".

[code]

[2021-02-12 09:54] arkivanov commented on #69
However the issue is reproduced if `ChildB` has the following code:

[code]

Is this what you actually meant by "Inside of Component B, I was trying to debug something and so I called"?

[2021-02-12 18:58] ScottPierce commented on #69
This reproduces it for me I think:

[code]

MainActivity - onCreate
[code]

The log output is:
[code]

Notice how we finish on B?

[2021-02-12 19:07] arkivanov commented on #69
I think the case provided by is still valid and should be fixed. So `Router.navigate` has undefined behaviour currently if called **recursively**. I will fix it. But please let me know if you have another bug in mind.

[2021-02-12 19:14] ScottPierce commented on #69
I've accurately reproduced it here:

MainActivity:
[code]

[code]

Here is the Output:
[code]

[2021-02-12 19:20] arkivanov commented on #69
Thanks! This looks like the same issue. Component C is being pushed recursively.

[2021-02-12 22:43] #69 closed

[2021-02-13 00:35] arkivanov commented on #6
Navigation test samples can be found [here](https://github.com/JetBrains/compose-jb/blob/master/examples/todoapp/common/root/src/commonTest/kotlin/example/todo/common/root/integration/TodoRootTest.kt).

[2021-02-20 23:11] Wavesonics opened #76 "Adding Decompose into the Jetbrains KMM/Compose template"
I started a project with the default template crated by IDEA for a KMM Compose project:
![image](https://user-images.githubusercontent.com/406473/108610816-80989b80-738d-11eb-903c-5e27a7fe414b.png)

Now I'm trying to add Decompse in, and it is having some issues.

I added the dependency to `common/build.gradle.kts` as such:
[code]

However in source files inside `commonMain` the IDE doesn't know a

[2021-02-20 23:18] arkivanov commented on #76
Hi! Could you please provide a reproducer project, it would be really helpful.

[2021-02-20 23:25] Wavesonics commented on #76
[notional.zip](https://github.com/arkivanov/Decompose/files/6016855/notional.zip)

I've tried IDEA Ultimate as well as Android Studio.

When you open it, go to `AppRoot.kt` under `commonMain` and try to `alt+enter` to auto-import the class, it will import an unrelated class from the JDK.

[2021-02-20 23:50] arkivanov commented on #76
Thanks! Looks like I understand what is the issue. For some reason IDE automatically imports a default package, which in this particular case is `com.sun.jndi.toolkit.ctx.ComponentContext`. Normally it should suggest a popup menu with options. But you can ignore this suggestion (don't press `Alt+Enter` or whatever hotkey you are using), and press `Ctrl+Space` (import hotkey on Linux, not sure abou

[2021-02-20 23:51] arkivanov commented on #76
I used Android Studio 4.2 Beta 4, openjdk 14.0.2

[2021-02-20 23:56] Wavesonics commented on #76
Ah that does it, thanks!

[2021-02-20 23:56] #76 closed

[2021-02-27 00:39] arkivanov commented on #10
@plusmobileapps thanks for you contribution! World be good if you add the new sample to the documentation (Sample Greetings App), please see the readme.

[2021-02-27 00:41] arkivanov commented on #10
Also the readme is just duplicate of the documentation, would be good to somehow reduce its size by keeping only important information. If you have some ideas and want to contribute, feel free to submit a PR!

[2021-02-27 02:40] plusmobileapps commented on #10
@arkivanov havent looked at the readme recently and missed that new example. I can add that to the documentation as well.

On the topic of the readme duplicating the docs, I have some ideas to slim that down and will try to get a proposal ready over the weekend when adding the other example.

[2021-02-27 20:02] arkivanov opened #81 ""Used by" list"
It would be good to have a list of companies/users/projects where Decompose is used. I suggest to stick to the following format, but feel free to omit/add/modify any details:

Project name: [project name]
Project type: production/pet/sample
Company name: personal/[company name]
Supported targets: `android`, `jvm`, `js`, `iosX64`, `iosArm64`, `macosX64`, `linuxX64`
Sources link (if open source): [l

[2021-02-28 11:00] StefanOltmann opened #82 "Failed to resolve dependency"
Hello,

maybe this has to do with the upcoming deprecation of JCenter.

I want to take a look at this framework in action by checking out https://github.com/JetBrains/compose-jb/tree/master/examples/todoapp .

Unfortunately Gradle can't resolve the dependency:
`Failed to resolve: com.arkivanov.decompose:decompose:0.1.9`

Will this library eventually be available in Maven Central?

Kind regards,

S

[2021-02-28 11:05] arkivanov commented on #82
Hi, Decompose is currently published in JCenter. And JCenter is configured in the example TodoApp. The error you are seeing is likely [KTIJ-1113](https://youtrack.jetbrains.com/issue/KTIJ-1113). The project should compile fine.

Regarding publishing to Maven Central, indeed I will do it soon.

[2021-02-28 12:15] StefanOltmann commented on #82
Hi,

thank you.

Yes, it's a bug in the current IDEA version and fixed in current early access.

Kind regards,

Stefan

[2021-02-28 12:15] #82 closed

[2021-03-01 19:44] arkivanov commented on #10
@plusmobileapps Big thanks for your work on documentation, this was very helpful! I think this issue can now be closed.

[2021-03-01 19:44] #10 closed

[2021-03-04 00:59] arkivanov commented on #81
Let me begin.

Project name: Example TodoApp for Desktop Compose
Project type: sample
Company name: JetBrains
Supported targets: android, jvm, iosX64, iosArm64
[Sources link](https://github.com/JetBrains/compose-jb/tree/master/examples/todoapp)

[2021-03-04 05:31] Shabinder opened #83 "Can we expect JS platform support for todo app too?"
I know there is js support for counter app , but to me TODO app's code and structure seems more lucid and I built desktop and android app learning from todo code , I was hoping if you have any plans to build a jsReact UI for todo app too?

[2021-03-04 07:13] theapache64 commented on #81
**Project Name** : Stackzy
**Project Type** : Developer Tool
**Company name** : null
**Supported Targets** : Linux, MacOS, Windows
**GitHub Link** : https://github.com/theapache64/stackzy

[2021-03-04 07:14] theapache64 commented on #81
**Project Name** : Name That Color
**Project Type** : Developer Tool
**Company name** : null
**Supported Targets** : Linux, MacOS, Windows
**GitHub Link** : https://github.com/theapache64/name-that-color

[2021-03-04 10:44] arkivanov commented on #83
Hi! I can do it for sure, but it all depends on JetBrains. Could you please transfer this request to https://github.com/JetBrains/compose-jb?

[2021-03-04 15:06] Shabinder commented on #83
@arkivanov  compose-jb is kinda foccused repo for compose , aint it?
why not have a copy of todo app sample in Decompos's repo as we have counter already?

[2021-03-04 15:23] arkivanov commented on #83
The TodoApp was in the Decompose repo originally, and was moved to compose-jb to avoid code duplication. The idea of the js UI implementation would be the same as in the Counter sample.

[2021-03-04 16:04] Shabinder commented on #83
@arkivanov yeah i am new to WEB DEV, just like in Android I was trying to build the website like using Root Component with Main and Edit screen in to do using the root component's router.
But in WEB Dev i figure its diferrent?
I need a react-router for hanging screens and MVI concepts like store reducer-executor wont apply...i guess?

So I am exploring some WEB Apps to grasp the idea.

I would lov

[2021-03-04 16:21] arkivanov commented on #83
This is exactly how it should work, just like in the sample Counter app. The navigation can be managed by Decompose.

[2021-03-04 16:26] Shabinder commented on #83
Okay, I will study sampleCounter app in more details and will ask for help if needed here.

[2021-03-04 16:27] arkivanov commented on #83
Feel free to ask any questions! I will keep this issue open for a while.

[2021-03-08 16:08] Shabinder commented on #83
Hey , Got it working!
But working in web is much more restrictive than working in Android.
Anyway Thanks.

[2021-03-08 16:08] #83 closed

[2021-03-11 03:48] ScottPierce opened #84 "Feature Request: Ability to Ignore Android Parceled Backstack"
Instead of trying to restore the app state from `Parcelable` state, I'd like the ability to just ignore all parceled state and have my app always restart at my first screen no matter what. Is that possible?

[2021-03-11 19:48] arkivanov commented on #84
Thanks, I will add it.

[2021-03-15 13:24] JavierSegoviaCordoba opened #85 "Tutorial section in docs"
- [x] Transitions
- [x] Deeplinks
      - Internal and external links
- [x] Multiple routers based on responsive design
      - Mobile screen size: Navigating from the master screen to the detail screen.
	  - Larger screen size: master and detail screens are visible at the same time, selecting one item in the master screen changes the content of the detail screen.
      - Sample: Gmail app in mobi

[2021-03-15 17:57] arkivanov commented on #85
@JavierSegoviaCordoba Are there any specific cases you have in mind?

[2021-03-16 22:30] arkivanov commented on #84
@ScottPierce After some deep investigation and attempts it appears to be very tricky, there are many corner cases and I find it very error prone.

However it is possible to disable back stack preservation using the following approach:
[code]

*Note 1:* this will disable state preservation as well. This should be fine because it does not make sense to preserve any data if the back stack is always r

[2021-03-16 22:37] arkivanov opened #86 "InstanceKeeper is not destroyed at the end of lifecycle when not passed to ComponentContext"
In non-android targets it does not make sense to use `InstanceKeeper`, and so there is no need to pass it to `DefaultComponentContext`. When `InstanceKeeper` is not passed to `DefaultComponentContext`, it is created implicitly. This allows using `InstanceKeeper` in common code.

The bug: when `InstanceKeeper` is not passed to `DefaultComponentContext`, it is not destroyed at the end of lifecycle.

[2021-03-16 22:37] arkivanov commented on #84
Filed #86

[2021-03-16 22:59] arkivanov commented on #84
Let's keep this issue open for now, I will try to add something for the Note 2.

[2021-03-17 00:09] #84 closed

[2021-03-17 00:12] arkivanov commented on #84
So I addressed the Note 2 in #88. With the next release you will be able to do the following:

[code]

[2021-03-17 00:42] arkivanov opened #89 "ChildStateKeeper does not save state"
Only components created using `childContext()` are affected, normal child components under `Router` are not affected.

[2021-03-17 10:01] arkivanov commented on #86
Closed via #90

[2021-03-17 10:02] #86 closed

[2021-03-18 15:44] JavierSegoviaCordoba commented on #85
@arkivanov I changed it to checkboxes so if they are implemented they can be marked as done. If I think on more tutorials, I will add them there.

If someone wants to add something to the list, ping me and I will add :)

[2021-03-18 16:32] arkivanov commented on #85
@JavierSegoviaCordoba Could you please elaborate what is "Multiple routers based on responsive design"?

[2021-03-18 16:46] Shabinder commented on #85
I think that he meant like in web using  **2 column layout** with seperate router for each and using same code with different navigation in Android like using only one column per screen.

[2021-03-18 16:48] JavierSegoviaCordoba commented on #85
Updated

[2021-03-18 16:52] arkivanov commented on #85
Thanks for inputs! Let's also keep in mind that Decompose is a multiplatform library, and Compose is not the only companion.

[2021-03-18 16:55] JavierSegoviaCordoba commented on #85
Yeah, my bad thinking on compose indeed, but I didn't want to repeat screen

[2021-03-18 18:40] Shabinder commented on #81
**Project name:** **_SpotiFlyer_**
**Project type:** Production
**Company name:** Personal/Hobby Project
**Supported targets:** Android, Web(JS), Desktop
**Sources link:** https://github.com/Shabinder/SpotiFlyer

[2021-03-21 22:26] #89 closed

[2021-03-28 16:02] arkivanov opened #105 "Describe the new animation API in the docs"
The new experimental animation API was added in #94.

[2021-03-29 14:26] theapache64 opened #106 "0.2.0 crashing with compose 0.4.0-build177"
<details>
<summary>Crashlog</summary>

[code]
</details>

[2021-03-29 15:02] arkivanov commented on #106
Looks like the binary compatibility is broken in the `Box` Composable. It was using `BoxScope` object before, but now it became an interface and there is `BoxScopeInstance` object instead. I will clarify this first with somebody from Compose team. https://kotlinlang.slack.com/archives/CJLTWPH7S/p1617029908334500

[2021-03-29 15:31] arkivanov commented on #106
So this change was intentional, we should wait for Jetpack Compose `beta04` version and then recompile Decompose with new versions of Jetpack and JetBrains Compose.

[2021-03-29 15:39] arkivanov commented on #106
Looks beta04 will be released on 07/04. I will update JetBrains Compose soon.

[2021-03-29 16:09] theapache64 commented on #106
Cool

[2021-03-29 22:39] #106 closed

[2021-04-02 19:22] arkivanov commented on #112
Hi, the issue seems with the view module, looks like it captures `Value` in a callback and it gets frozen due to thread switching.

[2021-04-02 19:24] arkivanov commented on #112
I can make it freezable though, looks like a useful improvement. But at the moment `Value` can not be frozen.

[2021-04-02 21:51] afaucogney commented on #112
That's definitively something like that. So how can I handle it ?
I'm young to kmm dev, so how can I handle thread switch just before updating the data ?

With Android live data, you can set value by livedata.value = myvalue (in uiThread) or livedata.postValue(myvalue) in any thread. A simple solution would be perfect !

[2021-04-02 22:07] arkivanov commented on #112
I'm not sure what would be a proper way with coroutines. Reaktive has built-in `threadLocal` operator for this, MVIKotlin also handles this under the hood. But I don't remember anything like this for Coroutines. Maybe ask in #kotlin-native Kotlinlang Slack channel? This looks like a general Kotlin/Native + Coroutines question.
From my side I will think about making `Value` freezable. But at the mo

[2021-04-12 06:27] sonder-joker opened #114 "How to make constraints to slide animation"
I wish to make a slide animation
but how to constraints it

[2021-04-12 06:33] sonder-joker commented on #114
The mp3 seem not work....
I make a custom column which specific width 160dp, but when I add slide animation it will over the column and to the far left of the screen.I wish it can disappear in the sidebar

[2021-04-12 09:12] arkivanov commented on #114
Hi. It is not clear what is the problem without video, or some code. But maybe you can use `clip` Modifier on your custom column.

[2021-04-14 02:11] sonder-joker commented on #114
https://user-images.githubusercontent.com/56215747/114644194-9f6e3b00-9d09-11eb-8c02-bc42a5ba3455.mp4

It exceeds that column, I hope to make it disappear in that column

[2021-04-14 08:02] arkivanov commented on #114
I think Modifier.clip on the container should help. If not, could you provide a reproducer?

[2021-04-21 03:41] sonder-joker commented on #114
I don't know how to do it...The code is here and I change to use crossfadescale()
https://github.com/sonder-joker/mirai-compose/blob/8c78c483eeff33d9d7308c26101e9bcdbca1ba3c/mirai-compose/src/main/kotlin/ui/feature/plugin/PluginsView.kt#L65

[2021-04-21 03:54] sonder-joker commented on #114
Also I have some question about stack navigation.
Consider UI with video above.I have five selection text
![QQ图片20210421114523](https://user-images.githubusercontent.com/56215747/115493858-14f08300-a297-11eb-94ea-0cb461542ed0.png)
The robot column can be choose to login many account so I make such a navigation
[code]
[code]
and the navigation in BotR component
[code]
[code]
However something wrong

[2021-04-21 22:26] arkivanov commented on #114
I can't verify the issue, the Plugin section is empty. I think you should wrap `Children` call into e.g. `Box`:
[code]

[2021-04-21 22:35] arkivanov commented on #114
It is not clear what are you doing and how your project works. It seems that that the `BotOnline` component is child of the `BotState` component. If so, then most likely `BotOnline` is recreated when you are navigating to `BotState`. Please provide a reproducer (or exact steps to reproduce the issue) so I could help.

[2021-04-22 07:11] sonder-joker commented on #114
Consider your example project. TodoMain with some TodoItem, I wish to load the data in TodoItem even I leave the TodoItem.I don't want to recreate TodoItem.I just want to recreate TodoItemUi,like viewmodel. Sorry for my poor English, if you need more detailed explain, I will create a gist later

[2021-04-22 10:20] arkivanov commented on #114
What should happen when the app is restarted?

[2021-04-23 12:13] sonder-joker commented on #114
Within a few days after answering the issue, I rethinked the design. My previous thinking was problematic.
(In the following thinking, each Componentcontext corresponds to a @Composable Ui)

What I am doing is the GUI of an open source robot project. My original idea was to start subscribing to a flow (including message events) after entering OnlineBot.
[code]
For this reason, I split the project

[2021-04-23 12:13] #114 closed

[2021-04-23 12:19] arkivanov commented on #114
Please keep in mind that you integrate Sub-Components into parents directly, without using the `Router`. So they are still separate children, but they live in the same scope as the parent. The Counter sample has this logic. For example the `Root` component has navigating parts and the permanent part. Take a look [here](https://github.com/arkivanov/Decompose/blob/efa62ba35b2f4a937d866b7818ecfcd66b9

[2021-04-23 12:24] sonder-joker commented on #114
Thanks! I have miss this part. Todo project is a bit difficult to understand because of many libraries, I may miss those code. I will read it again!

[2021-04-23 12:38] arkivanov commented on #114
The Todo sample don't have this, the Counter sample does.

[2021-04-26 09:01] Vasencheg opened #119 "Decompose 0.2.3 crushing with compose ver 1.0.0-beta04+"
<details>
<summary> Crushlog </summary>
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: cam.ishare.android.app, PID: 8224
    java.lang.NoSuchFieldError: No static field Companion of type Landroidx/compose/foundation/layout/BoxScope$Companion; in class Landroidx/compose/foundation/layout/BoxScope; or its superclasses (declaration of 'androidx.compose.foundation.layout.BoxScope' appears in /da

[2021-04-26 09:04] arkivanov commented on #119
Thanks, I will update Decompose to the latest versions of Compose today.

[2021-04-26 19:48] arkivanov commented on #119
Fixed in #120, version 0.2.4 is released

[2021-04-26 19:48] #119 closed

[2021-04-26 19:49] arkivanov commented on #112
Closing for now,

[2021-04-27 10:20] arkivanov commented on #122
Could you please elaborate what is the issue and what you are trying to achieve?

[2021-04-27 10:26] sonder-joker commented on #122
I have a simle class that  implementation
[code]
and also UI like that
[code]
If I wish to test ui, I have to construct a InitLogin class, but to construct a class need a ComponentContext.
For now the only way is `rememberRootComponent`.Is there a better way?

[2021-04-27 10:30] arkivanov commented on #122
Thanks for the explanation. You can extract an interface from your `InitLogin` class. I played with UI tests recently, you can find an example [here](https://github.com/arkivanov/android-dev-challenge-compose-1/blob/main/app/src/androidTest/java/com/example/androiddevchallenge/details/PuppyDetailsUiTest.kt).

[2021-04-27 10:36] sonder-joker commented on #122
Thanks! I have consider this way,but I can only test ui in this way.
Some times I just want to test the implementation class simple...the fake class also need time to write.I wish to a better way.

[2021-04-27 10:48] arkivanov commented on #122
Then you probably need integration tests, not just UI. An example of logic integration tests can be found [here](https://github.com/JetBrains/compose-jb/blob/master/examples/todoapp/common/main/src/commonTest/kotlin/example/todo/common/main/integration/TodoMainTest.kt). You can convert this test to instrumented and add UI.

[2021-04-27 10:50] arkivanov commented on #122
I recommend writing unit and component integration tests in JUnit (as they are fast), and just test dummy UI in instrumented tests.

[2021-04-28 17:36] arkivanov commented on #123
Could you please provide a reproducer?

[2021-04-28 17:50] Shabinder commented on #123
@arkivanov , Here it is: https://github.com/Shabinder/SpotiFlyer/tree/318c673cea9cd05652317c3f0c828bd0216014d2

Remove Following Delay to reproduce the Exception:

![image](https://user-images.githubusercontent.com/44765050/116449760-1feb7a80-a878-11eb-9787-61b35af3d3aa.png)

its in projectDir/common/compose/list/SpotiFlyerListUI.kt

[2021-04-28 18:00] arkivanov commented on #123
Thanks! The project is big, what are steps to reproduce?

[2021-04-28 18:01] arkivanov commented on #123
The error is pretty much descriptive, it is not allowed to pop the only child (the last one). Are you sure there are at least two children in the stack at the time when you call `pop`?

[2021-04-28 18:04] Shabinder commented on #123
I have 2 Screens
1) Main(Default/Initial) -> 2) List Screen

after I push List Screen into router (while I was on Main) and as soon as I enter List Screen and call router.pop , it throws this error.

Am I making Sense?

[2021-04-28 18:12] Shabinder commented on #123
I forgot that this is using 2 deps from mavenLocal, I havent published them yet, so in order to build the project/**Android App**,
these repos need to be pushed to localMaven, that is, execute publishtoMavenLocal task for these repos:
 - https://github.com/Shabinder/youtube-api-dl
 - https://github.com/Shabinder/fuzzywuzzy

[2021-04-28 18:16] arkivanov commented on #123
There are no any delays. It should be safe to `pop` as soon as `push` call returns.

[2021-04-28 18:23] Shabinder commented on #123
I dont know then what could be the issue, However using delay is not a very big issue for me right now.

[2021-04-28 18:51] arkivanov commented on #123
@Shabinder  It is till not clear how to reproduce the crash. What exact steps should I perform in your project? What should I type into the edit field?

I removed the delay and just typed some random text - there is infinite loading indicator an nothing else. No crash.

[2021-04-28 18:52] arkivanov commented on #123
Also the project did not compile:
`e: /home/aivanov/dev/workspace/SpotiFlyer-318c673cea9cd05652317c3f0c828bd0216014d2/desktop/src/jvmMain/kotlin/Main.kt: (68, 24): Object is not abstract and does not implement abstract member public abstract val setDownloadDirectoryAction: () -> Unit defined in com.shabinder.common.root.SpotiFlyerRoot.Dependencies`
I had to add empty callback there.

[2021-04-28 20:00] Shabinder commented on #123
Aah you are testing Desktop version , I havent actually been developing desktop app , Try building Android App

when you will enter random char in searchbar , an Exception will be dispatched as shown below:
![image](https://user-images.githubusercontent.com/44765050/116464361-84630580-a889-11eb-8e75-85df796af0a6.png)
and this exception will cause router.pop as shown below
![image](https://user-ima

[2021-04-28 20:06] arkivanov commented on #123
The Android app does not compiple either:
[code]

[2021-04-28 20:09] Shabinder commented on #123
Ohhh nooo let me fix this for you and you can just use my latest pull to reproduce.

[2021-04-28 20:18] arkivanov commented on #123
Making side effects directly from `@Composable` functions is incorrect, the function maybe executed multiple times in a row, and so you will `pop` multiple times as well. You should produce side effects from things like `LaunchedEffect`, `DisposableEffect`, click actions, etc.

[2021-04-28 20:19] Shabinder commented on #123
@arkivanov  just pull the latest changes in the New_DM_Android Branch , and build , it should crash as soon as you type any random char

[2021-04-28 20:19] Shabinder commented on #123
Yeah I just noticed that if I use it in LaunchedEffect with error as a key , this works as expected

[2021-04-28 20:20] Shabinder commented on #123
Rookie Mistake I guess, Sorry for all the inconvenience. Closing it now

[2021-04-28 21:14] arkivanov commented on #123
Glad to help, feel free to ask any questions!

[2021-05-01 03:53] sonder-joker commented on #122
thanks!

[2021-05-01 20:51] arkivanov opened #124 "Add `ensureNeverFrozen` for classes that must not be frozen"

[2021-05-01 22:27] arkivanov opened #125 "Describe ComponentContext.childContext function in the docs"
The function creates child `ComponentContext`, which can be used to add child components without using the `Router`. https://github.com/arkivanov/Decompose/blob/master/decompose/src/commonMain/kotlin/com/arkivanov/decompose/ComponentContextExt.kt

[2021-05-03 16:23] #125 closed

[2021-05-04 22:46] arkivanov opened #128 "Rename Value.asState() to Value.subscribeAsState()"
Introduce `Value.subscribeAsState(): State` in both Compose modules, deprecate `Value.asState(): State`. To follow Compose naming conventions.

[2021-05-05 23:23] arkivanov opened #131 "Add Children function overloads with RouterState argument"
There is `Children` function in [extensions-compose-jetpack](https://github.com/arkivanov/Decompose/blob/master/extensions-compose-jetpack/src/main/java/com/arkivanov/decompose/extensions/compose/jetpack/Children.kt) and [extensions-compose-jetbrains](https://github.com/arkivanov/Decompose/blob/master/extensions-compose-jetbrains/src/commonMain/kotlin/com/arkivanov/decompose/extensions/compose/jet

[2021-05-07 09:10] arkivanov opened #132 "Describe having multiple routers in a component"

[2021-05-08 23:59] #128 closed

[2021-05-09 01:55] #105 closed

[2021-05-11 23:14] arkivanov opened #141 "Add a web app for the Master-Detail sample"
The sample is [here](https://github.com/arkivanov/Decompose/tree/master/sample/master-detail), would be good to add a web app for it, perhaps using React. Another web app can be found in the [Counter sample](https://github.com/arkivanov/Decompose/tree/master/sample/counter/app-js), just for reference.

[2021-05-11 23:16] arkivanov opened #142 "Add an iOS app for the Master-Detail sample"
The sample is [here](https://github.com/arkivanov/Decompose/tree/master/sample/master-detail), would be good to add an iOS app for it using SwiftUI. Another SwiftUI iOS app can be found in the [Counter sample](https://github.com/arkivanov/Decompose/tree/master/sample/counter/ios-app), just for reference.

[2021-05-12 22:49] arkivanov commented on #85
Closed by the PRs above.

[2021-05-12 22:49] #85 closed

[2021-05-13 20:45] #124 closed

[2021-05-13 21:00] #131 closed

[2021-05-22 19:15] arkivanov commented on #150
The binary compatibility in Jetpack Compose was broken in `beta07` and so Decompose has to be recompiled with new version.

![IMG_20210522_201205_049](https://user-images.githubusercontent.com/26204457/119238412-2947ca00-bb3a-11eb-9cad-79f46404d0a5.jpg)

But `beta07` has a [bug affecting UI state preservation](https://issuetracker.google.com/issues/188567661), it is not restored when navigating ba

[2021-05-23 12:22] maxtox3 commented on #141
@arkivanov, I want to try

[2021-05-23 12:30] arkivanov commented on #141
Thank you, feel free to ask any questions!

[2021-05-24 08:14] sieveo commented on #150
This also affects Jetbrains Compose for Desktop. I'm upgraded to version 0.4.0-build209 and I see the same behaviour here too.
It seems like the bug affecting UI state that you refer to has been fixed already, but I don't know if that fix has made its way to Jetbrains' Compose already or not.

[2021-05-24 09:08] arkivanov commented on #150
That makes sense, thanks! I will check again tonight.

[2021-05-24 19:57] arkivanov commented on #150
The bug is indeed fixed in Compose for Desktop `0.4.0-build209`, but it requires Kotlin `1.5.0`, however the latest version of Jetpack Compose `beta07` requires Kotlin `1.4.32`. It is better to wait for a version of Jetpack Compose with Kotlin `1.5.0`, I think it should be the next version. I would like to avoid manual publication without `extensions-compose-jetpack` module, unless there are hard

[2021-05-24 19:59] arkivanov commented on #150
Update: Jetpack Compose `beta08` will have both Kotlin `1.5.0` and the bug fix. It will be released June 2nd.

[2021-05-24 20:01] arkivanov commented on #150
Please drop a message here if someone is hard blocked by the crash, I will try to do a manual publication for you in this case.

[2021-05-25 07:50] sieveo commented on #150
Thanks for the update @arkivanov.
This is not hard blocking me, just keeping me from updating to the new compose and kotlin 1.5.0.

2nd of June is not that far away, so it think it is fine. :)

[2021-05-25 11:46] moffpage opened #152 "Dependency Updates Gradle Plugin fails to determine the version of Decompose"
Dependency Updates Gradle Plugin (link: https://github.com/ben-manes/gradle-versions-plugin) fails to determine the version of Decompose even with explicit indication (I used the current recent 0.2.4) like this:

[code]

I just add this block:

[code]

inside root project's **build.gradle.kts** file and providing implementations how it should be done.

You can easily create the project by yourself

[2021-05-25 20:16] arkivanov commented on #152
I could not reproduce the error with the private project provided by you. Perhaps the issue is MacOS-specific, and I am using Ubuntu. Overall this error looks related to the plugin itself. I recommend to file an issue in the plugin's repository, they already have few similar issues closed.

At the moment I can't do anything with this issue.

[2021-05-25 20:16] #152 closed

[2021-05-27 07:34] plusmobileapps opened #155 "Add watchOS support"
* Apple watchOS on ARM64 (Apple Watch Series 4 and newer)
* ARM32 (earlier models) platforms
* desktop simulators

[2021-05-27 19:47] arkivanov commented on #155
May I ask how urgent is it?

[2021-05-27 21:28] plusmobileapps commented on #155
Not urgent at all! Just putting this in the backlog when you get a chance. Perhaps even something I could help out with?

[2021-05-27 21:35] arkivanov commented on #155
@plusmobileapps This should be like a 10 min task, unless I am missing something. The setup should be similar to [tvos](https://github.com/arkivanov/Decompose/blob/32775ea1353eb2f2534cacb3f8c05cbaf3859ec3/build.gradle#L222), I will appreciate your help. I'm planning a release next week, so as a last resort I will do it myself closer to the release.

[2021-05-27 22:05] arkivanov commented on #155
MVIKotlin is a bit trickier, as it has some advanced configuration (which I actually want to refactor at some point). So probably I will do it myself. Decompose does not depend on MVIKotlin, so can be updated separately. Tests will show if everything alright.

[2021-05-28 07:31] arkivanov commented on #155
Closed via #156. Thanks @plusmobileapps for your contribution!

[2021-05-28 07:31] #155 closed

[2021-05-28 09:18] arkivanov opened #157 "[Survey] Parcelize for Darwin (Apple) targets"
I would like to understand, do we need Parcelize support for Darwin (Apple) targets? I built an experimental [kotlin-parcelize-darwin](https://github.com/arkivanov/kotlin-parcelize-darwin) compiler plugin, which is similar to `kotlin-parcelize`. We could enable it in a separate branch and start publishing the experimental version of `decompose` module, with a version suffix. More info in my [artic

[2021-05-28 09:32] moffpage commented on #157
It was actually strange to see you implementing this because I believe you've said parcelize plugin doesn't make sense on Apple platforms since if I recall the platform does it automatically, but I may confuse this with another state preservation (view or something else). But nonetheless Apple still has NSConding protocols, so they serve some value. I might investigate into it a bit and later prov

[2021-05-28 09:57] moffpage commented on #157
It probably refers to the fact that Android and iOS handle configuration changes differently, I'm trying to find the exact text so I could quote you, but I'm having a little trouble doing it, so maybe if you give me some time, I can provide it to you :)

[2021-05-28 10:27] arkivanov commented on #157
Thanks, but it does not sound like "parcelize plugin doesn't make sense on Apple platforms". Am I missing something? Anyway, I think it does make sense, but not so important as on Android. :-)

[2021-05-28 10:32] moffpage commented on #157
Probably doesn't, although I remember a little different approach to saying this, which as I said I couldn't easily find. If I find it, I'll definitely recall if you don't mind, but yeah. If you feel it makes sense, maybe it's a game-changer! Even a little :D. I'm interested in your colleagues opinion on this survey. What do they think about it?

[2021-06-01 04:01] moffpage opened #158 "How does Decompose handle routing with dynamic feature components?"
Hello! I've watched this video earlier today: https://www.youtube.com/watch?v=iURWvHxTM3k&list=LL&index=4 and it got me curios, what does Decompose offer for its clients for dynamic feature loading?

[2021-06-01 08:36] arkivanov commented on #158
I remember @rustamsmax used Decompose and Dynamic Features, could you please share your experience?

[2021-06-01 09:09] rustamsmax commented on #158
Dynamic module is platform specific feature.
When I implemented it I created `feature availability checker` class and` feature renderer `class using reflection.
I passed the `checker` class to decompose component which use it to decide when routing screens. It a feature available it navigates to HomeA else HomeMain.
For the ui I passed the `renderer` class via ambients. When decompose component na

[2021-06-01 09:20] arkivanov commented on #158
I will think about adding an example for dynamic features.

[2021-06-01 10:33] moffpage commented on #158
Oh God, that'd be amazing!

[2021-06-02 15:41] sonder-joker commented on #150
wait for the release

[2021-06-02 23:33] arkivanov commented on #150
Version `0.2.5` is released, please allow some time for the Maven Central sync process.

[2021-06-03 14:58] Vasencheg opened #161 "Decompose v0.2.5 - Unresolved reference: rememberRootComponent"

[2021-06-03 15:03] arkivanov commented on #161
Thanks! The `extensions-compose-jetpack` module's publication is broken. I will fix it tonight.

[2021-06-03 20:11] #161 closed

[2021-06-03 21:38] arkivanov commented on #161
Version `0.2.6` is released, please allow some time for the Maven Central sync process.

[2021-06-03 22:27] arkivanov commented on #141
Big thanks for the contribution!
Closed via #159.

[2021-06-03 22:27] #141 closed

[2021-06-06 19:53] soniccat commented on #150
Thanks, but it seems in 08 they have broken LazyColumn: https://issuetracker.google.com/issues/189170789 ... will wait next release)

[2021-06-07 08:29] maxtox3 opened #165 "AppBar not displayed in "Master - Detail" sample"
When the application starts, the AppBar is not displayed on the "details" screen.
It seems to me that it happens because by default `isMultiPane == false` and `isDetailsToolbarVisible == false`.
Example:
https://www.dropbox.com/s/x9yce7kyk3ut0rn/Screencast-2021.06.07-11.16.gif

[2021-06-08 04:30] plusmobileapps opened #166 "Add a watchOS sample app to the counter"
With the recent addition of [watchOS support in Decompose](https://github.com/arkivanov/Decompose/issues/155), it could be helpful to have a sample with the target in the [counter app](https://github.com/arkivanov/Decompose/tree/master/sample/counter).  I do see that MVIKotlin is still pending support for [watchOS support](https://github.com/arkivanov/MVIKotlin/issues/229), so I'm guessing to inte

[2021-06-08 15:45] plusmobileapps commented on #166
Good to hear, I'd like to help contribute for this sample as I have been wanting to learn more watchOS development. I could probably help out with the master detail iOS sample as well. Just wasn't sure if it could be done yet, I must have been thinking of the Todo sample that uses MVIKotlin.

[2021-06-08 15:46] arkivanov commented on #166
Perhaps the master-detail sample is not really suitable for watches? You can start with the Counter sample already, just avoid `watchosX64` target for now.

[2021-06-08 15:55] plusmobileapps commented on #166
Sorry should have mentioned just implementing the master detail sample issue as an iOS app, watch would be a little overkill😂 I'll try to work on the watch sample over the next couple days 👍

[2021-06-08 16:02] arkivanov commented on #166
Ah yes! There is an open [issue](https://github.com/arkivanov/Decompose/issues/142) for adding iOS app for the master-detail sample. Please let me know which you would like to peak first, I will assign it to you. Thanks!

[2021-06-15 11:17] Nikola-Milovic commented on #142
Hello, I'd like to try this one. I've already [forked and made the it](https://github.com/Nikola-Milovic/Decompose/tree/Master-Detail-IOS/sample/master-detail/app-ios).

But I am uncertain about two things. Mostly related to the Framework/ build setup.

The build script has come to this (had to add the JVM version manually as it wouldn't build properly any other way)
[code]
Would this pose a probl

[2021-06-15 11:44] arkivanov commented on #142
Hello @Nikola-Milovic, thanks for contributing to the project!

I never specified JDK path in the script, usually JDK is already installed in the system and so used automatically. My build phase scripts are always without `-Dorg.gradle.java.home` parameter.

Could you please elaborate? Is the problem specific to iPhone 8 only? What is the issue exatcly?

This sample is specifically for dual-pane/s

[2021-06-16 10:51] Nikola-Milovic commented on #142
After copying the Build setup from Counter sample, I resolved both this and the Iphone 8 issue. After testing on other Ipads and Iphones it seems that everything is working as intended.

It was something to do with the app launch and the launch screen, some changes occurred in the newer versions of IOS or something along those lines. But as stated above, it's resolved.

Is there a need to differen

[2021-06-16 12:22] arkivanov commented on #142
Glad that all issues are resolved!

No need, I think it's fine to just have single-pane for iPhone and dual-pane for iPad.

I will be happy to review a PR!

[2021-06-18 18:56] arkivanov commented on #142
Closed via #168. Thanks for your contribution!

[2021-06-18 18:56] #142 closed

[2021-06-19 19:19] Wavesonics opened #170 "Template repos for samples"
Having the samples be inside this repo means they aren't fully representative of what they would look like as separate projects.

Their gradle files reference the modules declared in this repo and such.

I would love to see them as separate, completely independent repositories so a new person could look at them and see exactly how the build files are supposed to work.

Projects like [this](https:/

[2021-06-19 19:29] arkivanov commented on #170
Yeah, I already received such a feedback before. The issue here is that samples are also used for validation and testing. I'm running samples to also manually verify some things. And they are built on CIvon every PR, which is also useful for me. I'm considering to convert samples to standalone projects, but add Decompose deps as [Composite Builds](https://docs.gradle.org/current/userguide/composit

[2021-06-20 04:58] Wavesonics opened #171 "Getting started instructions unclear"
I still find the explanations of which library to include in which use cases confusing. I think I know from last time I talked to you, but I think we should be a fair bit more verbose and explanatory about WHICH gradle file and why for each library.

https://arkivanov.github.io/Decompose/getting-started/

[2021-06-20 09:51] arkivanov commented on #171
Thanks for the feedback! I will improve this section.

[2021-06-20 18:25] plusmobileapps commented on #166
I will say I have been tinkering around with this off and on the last week and might need a little help as I am mainly an Android developer who has been trying to learn iOS. I was trying to look for a sample of watchOS which the [KMM documentation](https://kotlinlang.org/docs/mobile/samples.html#peopleinspace) mentioned [People in Space](https://github.com/joreilly/PeopleInSpace) targeted watchOS.

[2021-06-20 18:34] arkivanov commented on #166
@plusmobileapps From the first sight the `multiplatform-swiftpackage` plugin is used to integrate the shared module as XCFramework via Swift Package Manager. It is not clear yet, but I think it should also work via so called "direct" integration, using the `packForXcode` Gradle task and a build phase script in Xcode. This is already being used in all samples. I think we should try this approach fi

[2021-06-30 18:11] #171 closed

[2021-07-10 13:52] arkivanov opened #177 "Add Compose previews to all samples"
We should add Compose previews to all samples including the `TodoApp`. Example of a preview can be found [here](https://github.com/arkivanov/android-dev-challenge-compose-1/blob/753201f65d7a00f0c6b9eedc3a06680d36eec162/app/src/main/java/com/example/androiddevchallenge/list/PuppyListUi.kt#L182).

[2021-07-14 21:29] arkivanov opened #179 "Describe routing options in the docs"
Docs page: https://arkivanov.github.io/Decompose/router/overview/

We should describe the `Navigator.navigate {}` function and all extension functions. Also describe the `Router` and the `Navigator` interfaces hierarchy.

[2021-07-14 21:32] arkivanov opened #180 "Add `Navigator.navigateSingleTop` extension function"
See the [discussion](https://github.com/arkivanov/Decompose/discussions/178#discussioncomment-1005820) where it came from.

[2021-07-22 22:02] arkivanov commented on #166
Closed via #190. Thanks for your contribution @plusmobileapps!

[2021-07-22 22:02] #166 closed

[2021-07-24 18:38] falcon4ever commented on #81
**Project name:** Decompose Navigation Sample
**Description:** An Android project showcasing **Decompose** with a bottom navigation
Project type: Demo
**Company name:** Personal/Hobby Project
**Supported targets:** Android
**Sources link:** https://github.com/falcon4ever/KMM-demos/tree/main/DecomposeNavigationSample

**Project name:** Decompose KMM Navigation Sample
**Description:** A KMM project

[2021-08-05 08:14] plusmobileapps commented on #179
Is there any examples using the `Navigator` API? I could probably help out with this

[2021-08-05 10:22] arkivanov commented on #179
@plusmobileapps I would welcome a contribution here, thank you. The [Router](https://github.com/arkivanov/Decompose/blob/master/decompose/src/commonMain/kotlin/com/arkivanov/decompose/Router.kt) interface extends the [Navigator](https://github.com/arkivanov/Decompose/blob/master/decompose/src/commonMain/kotlin/com/arkivanov/decompose/Navigator.kt) interface, just for better interface segregation.

[2021-08-05 20:28] arkivanov commented on #157
`Parcelize` was extracted to [Essenty](https://github.com/arkivanov/Essenty) library. Closing for now.

[2021-08-05 20:28] #157 closed

[2021-08-08 19:19] arkivanov opened #205 "Calling `backPressedDispatcher.onBackPressed()` from a child component does not trigger back action"
We should either expose only `BackPressedHandler` from `ComponentContext` (to disallow calling `onBackPressed` from components), or make it triggering back action and change `onBackPressed` method so it returns `Unit` instead.

[2021-08-08 19:24] arkivanov commented on #180
The name `navigateSingleTop` is misleading in this context, as it has different [semantics](https://developer.android.com/guide/components/activities/tasks-and-back-stack#ManifestForTasks) in Android. We should find a better name. This function work in the following way:

- If there is already a component in the stack with configuration of type `T`, then that component should be moved to top of th

[2021-08-08 22:24] arkivanov commented on #206
Hello. The `StateKeeper` saves component state (aka business logic), the `Children` function is also responsible for saving the UI state. E.g. when you navigate from List to Details and then back to List, the scrolling position is automatically preservaled. This is a general approach, the Google`s compose-navigation should do the same.

It seems that your UI saves a lot of data. Could you describe

[2021-08-08 22:35] avently commented on #206
If so, maybe a good idea would be to use hashCode of child.configuration instead? If the data is the same, hashCode will be the same too but we won't save the data into bundle.

I just have a list of objects I got from REST API and cached, pass them to a screen with Pager. After that the screen with the Pager loads more data from RESP based on previous objects. So objects are highly coupled and fo

[2021-08-08 22:58] arkivanov commented on #206
Sorry, but it's not clear what you mean. Maybe you could provide a code snippet? The ` Children` just preserves states of all components in the back stack.

Regarding your use case. If you pass objects via configuration then this data should be saved by `StateKeeper`, it's not clear how is it related to the UI state (the `Children` function). The latter only saves what is saved by the child Compos

[2021-08-08 23:50] avently commented on #206
This is a part of MainComponent:

[code]

This is MainScreen:
[code]

This line stores the whole configuration (like ChildConf.Plan in my example) in the bundle. If there will be heavy configurations we end up with TransactionTooLargeException.
https://github.com/arkivanov/Decompose/blob/master/extensions-compose-jetbrains/src/commonMain/kotlin/com/arkivanov/decompose/extensions/compose/jetbrains/

[2021-08-09 07:51] arkivanov commented on #206
Yes, now it's clear. So you are correct, each the configuration is stored twice. I will need to think if can improe the situation.

But the configuration should go away when you close the screen. It should be removed from `SaveableStateHolder`, which is done in the same file with `Children` function.

[2021-08-09 11:54] avently commented on #206
@arkivanov it should, yes, but it's not happening. So if visit multiple screens such screens are saved too.

[2021-08-09 12:01] arkivanov commented on #206
Thanks, I will check it and provide updates here.

[2021-08-09 20:03] arkivanov commented on #206
I checked the issue with non-removing configurations and could not reproduce. Configurations of popped screens are not saved into the Bundle. Both the `StateKeeper` and the `Children` function save configurations into `androidx.lifecycle.BundlableSavedStateRegistry`. And I don't see `android:view_registry_state` at all, which is actually comes from [FragmentStateManager](https://android.googlesour

[2021-08-09 20:29] avently commented on #206
Did you setup your own fragment state listener instead of using the lib I suggested? If so, that's why you didn't see android:view_registry_state. I don't know why but I did the same thing and didn't see it too until I used the lib. Then I just copied the lib files into my project, added more logs into it to see the actual data inside bundle.

androidx.lifecycle.BundlableSavedStateRegistry is clea

[2021-08-09 20:54] arkivanov commented on #206
I checked using the TodoApp example with the following steps:

1. Open the details screen and press back button
2. Minimize the app
3. Simulate app eviction using Logcat tab
4. Put breakpoint in `MainActivity.onCreate`
4. Open the app with debugger attached
5. Check the Bundle using object inspector

These are keys stored in the Bundle:
[code]

[2021-08-09 21:36] arkivanov commented on #206
Tried to put everything into a Fragment and the key "android:view_registry_state" was in the Bundle. So it is only added by Fragments. However in my case it contained only one configuration, of the first screen.

[2021-08-10 01:16] avently commented on #206
In my case I saw the following when I opened one screen, then pressed back, then opened another screen, then pressed back, then went to a launcher:
[code]

Your STATE_KEEPER_STATE is ok
android:view_registry_state has:
- Plan conf for PlanScreen (with all the properties, I just deleted them because they so long). Notice that Plan conf is the key in map with an empty value (I did nothing with this

[2021-08-10 03:14] AzimMuradov opened #209 "Back button handling shouldn't be part of the main API"
I think since **Decompose** is a multiplatform library, special "back button handling" seems unnecessary or even overkill. I think it should be deprecated, or at least moved to a separate library extension provided by another artifact.

[2021-08-10 08:43] arkivanov commented on #206
As I mentioned, I couldn't reproduce. The second screen's configuration is removed from all bundles if I do the following steps:

1. Close the second screen via back button, so it is removed from stack
2. Minimize the app

So a reproducer with exact steps is still would be useful.

[2021-08-10 13:49] avently commented on #206
Arkadii, I found why we have different results. In my case I modified the instance of Plan conf in a screen so it had new data in it after entering PlanScreen. This way the instance will be preserved in `android:view_registry_state` forever.

Example:
[code]

Result:
[code]

Are you able to reproduce?

[2021-08-10 13:54] arkivanov commented on #206
Configurations must be immutable, as they act as keys in things like `Map`, etc. If a configuration is mutated, it can not be longer located. I will add this disclaimer to the documentation.

[2021-08-10 14:22] avently commented on #206
@arkivanov I didn't expect that configuration will be used as a key somewhere. It's not recommended and a source of bugs as we see. Why not to drop usage as key? Is it required?

[2021-08-10 14:33] arkivanov commented on #206
It is required by the nature of the library. Configurations are unique keys of components. Each component in a particular `Router`'s stack must have unique configuration within the `Router`'s stack. This way the `Router` can distinguish configurations and create/destroy components accordingly.

I will consider renaming Configuration to Key, perhaps it will make it more explicit. Filed #210.

[2021-08-10 15:02] avently commented on #206
For me configuration sounds good but key isn't. Maybe adding a note about usage configuration as key would be enough?

[2021-08-10 15:10] arkivanov commented on #206
Big thanks for you feedback and use cases @avently. I will think about it.

[2021-08-10 15:13] avently commented on #206
Thanks for you, not me. I would spend many weeks/months for creating something like Decompose.

[2021-08-10 18:28] #180 closed

[2021-08-12 23:25] #205 closed

[2021-08-13 16:20] arkivanov commented on #209
Thank you for the request for API improvements, such requests are very valuable. I have considered the concern and decided to keep this API as it is.

Rationale: the back button handling is applicable not only for Android, but for other platform as well. E.g. there are TVs, watches, kiosks with hardware buttons, embedded devices, etc. I understand that this feature is rarely used outside of Androi

[2021-08-13 16:20] #209 closed

[2021-08-13 16:29] AzimMuradov commented on #209
Thanks for the detailed answer!

[2021-08-13 19:38] arkivanov commented on #210
Decided to keep it as it is, looks fine. Updated documentation instead.

[2021-08-14 13:36] #165 closed

[2021-08-17 09:07] arkivanov commented on #179
Closed via #219. Thanks @plusmobileapps for the contribution!

[2021-08-17 09:07] #179 closed

[2021-08-19 20:20] arkivanov opened #223 "Dead links in the readme"
Also the readme should be checked for relevance.

[2021-08-24 20:11] #158 closed

[2021-08-28 18:25] aartikov commented on #180
`stack.filterNot { it::class == configuration::class } + configuration`

Maybe it would be better to compare values rather than classes?
Otherwise, we can't use enums for bottom navigation items.

[2021-08-28 19:22] arkivanov commented on #180
@aartikov as per my comment above, this function is to ensure there is only one type of component in the stack, and to bring it to front. I suggest to use sealed classes instead of enums, or just use `navigate(...)` directly.

[2021-08-31 16:47] moffpage opened #228 "UIKit support"
Hi! I'm currently using this amazing library to provide (viewmodel-alike) components to plug into our Android and iOS clients. The Android side is touched on pretty well: it provides extensions to both Jetpack Compose and View UI-building approaches for Android, but only for SwiftUI in iOS side. Unfortunately, Apple doesn't provide compatibility for SwiftUI and Combine with versions, older than iO

[2021-08-31 17:33] arkivanov commented on #228
Decompose is primarily designed for declarative UI frameworks, like Compose, SwiftUI, React, etc. Also it is not possible to publish such an iOS framework (see the following [thread](https://github.com/badoo/Reaktive/issues/538) for more information on this). All I can do here is to try to create a sample iOS app. However it might be difficult for me, as I'm not an iOS developer. Would it help you

[2021-08-31 17:56] fnc12 commented on #228
I am confirming. I also need `UIKit` support in my nice project using this great library. I am an experienced iOS developer and can help you but my kotlin XP is not so rich. How can I help you?

[2021-08-31 18:00] moffpage commented on #228
@arkivanov I though Decompose didn't rely on MVIKotlin, why is it important? Sample iOS app would be very much appreciated! It'd help me a lot. I could help as far as I can myself.

[2021-08-31 18:03] fnc12 commented on #228
SwiftUI can work with UIKit very well. [Example](https://developer.apple.com/tutorials/swiftui/interfacing-with-uikit) so I am sure that it is very easy to add UIKit projects support and it also will make this beautiful lib even more popular cause a lot of legacy projects will be able to migrate to it

[2021-09-01 08:25] arkivanov commented on #228
@moffpage Decompose does not depend on MVIKotlin in any way, and I didn't mention MVIKotlin either. Why such a question?

[2021-09-01 08:25] arkivanov commented on #228
@fnc12 I will appreciate your help here! There is [Counter](https://github.com/arkivanov/Decompose/tree/master/sample/counter) sample in this repository. For Android it has two separate UIs: one [using Jetpack Compose](https://github.com/arkivanov/Decompose/tree/master/sample/counter/shared/src/androidMain/kotlin/com/arkivanov/sample/counter/shared/ui/compose), and another one [using normal Androi

[2021-09-01 09:31] moffpage commented on #228
@arkivanov Sorry, I didn't mean anything related to MVIKotlin, just wanted to clarify if Decompose somehow depends on Reaktive? If not, what's the issue? Do we have to to have adapters for RxSwift? Since Value<*> has `subscribe` and `unsubscribe` methods, couldn't we just subscribe and unsubscribe in UIViewController's (or UIView(?)'s) appropriate lifecycle methods? And I believe we could still us

[2021-09-01 09:36] arkivanov commented on #228
@moffpage I provided the link to the similar discussion we had in Reaktive. It explains why it is not really possible to create and publish a separate iOS Framework with Swift extensions and helpers. E.g. for Android we have `extensions-xxx` modules published, which can be used by consumers to bind UI with Decompose components. But for iOS we can't publish anything like this, as explained in the l

[2021-09-01 10:08] moffpage commented on #228
That'd be ok for now.

[2021-09-02 20:31] arkivanov opened #229 "Support new Apple silicon targets"
More info: https://kotlinlang.org/docs/whatsnew1530.html#apple-silicon-support

[2021-09-20 07:04] plusmobileapps opened #231 "Navigator.bringToFront() not available in 0.3.1"
The new navigator extension function `bringToFront()` from #208 does not seem to be available in the latest version 0.3.1. Is there going to be a new version of Decomposed published soon with that available?

[2021-09-20 09:18] arkivanov commented on #231
I wented to accumulate more features into the release, but I can release an update today if it will be useful for you.

[2021-09-20 20:21] arkivanov commented on #231
I think I can't do a quick release at the moment. There were API changes since 0.3.1 and I will need to prepare  0.4.0 release. It will take some time.

Can you copy the implementation of `bringToFront()` to your project for now?

[2021-09-20 22:24] plusmobileapps commented on #231
No rush for now, I ended up copying over that function to my project in the meantime. Will keep an eye out for the next release, thank you!

[2021-09-30 22:50] arkivanov opened #235 "Enable watchos target for the Counter sample after Kotlin 1.5.31 update"
The Counter sample has `watchos` targets temporary disabled, due to [KT-48613](https://youtrack.jetbrains.com/issue/KT-48613).

[2021-10-10 12:03] #229 closed

[2021-10-13 20:35] arkivanov commented on #230
Closed via #254

[2021-10-17 12:49] arkivanov opened #257 "Add simplest code examples to the main Overview docs section"
The main section: https://arkivanov.github.io/Decompose/

We should add some simplest code samples for better attraction.

[2021-11-21 11:48] qwert2603 opened #268 "Broken link in docs"
Hello!
On [this page](https://arkivanov.github.io/Decompose/component/overview/) link "Lifecycle documentation page" (https://arkivanov.github.io/Decompose/router/lifecycle/) leads to 404.
I suppose, it should lead to https://arkivanov.github.io/Decompose/component/lifecycle/

[2021-11-21 12:16] arkivanov commented on #268
Yes, thanks for raising!

[2021-11-30 09:01] anhanh11001 opened #269 "Failure to render screen after installation"
After my dependency installation with:
[code]
I receive the error below without even starting to use Decompose lib. Is this a known issue? Any ideas what's wrong with my installation. I'm developing a Jetbrains Compose desktop pet project

[code]

[2021-11-30 09:05] anhanh11001 commented on #269
It seems to work fine with 0.3.1

[2021-11-30 09:44] arkivanov commented on #269
Thanks for the report. The error seems unrelated to Decompose, so worth filing a bug to jb-compose. However this might be a binary compatibility issue. You can also try downgrading the version of Compose. I'm waiting for a Jetpack Compose version compatible with Kotlin 1.6.0, so I could release an update.

[2021-11-30 09:52] anhanh11001 commented on #269
Ok, thanks. And to be clear, this error does not appear when installing the dependency, but when compiling the UI.

[2021-11-30 10:02] arkivanov commented on #269
This looks like a runtime error. Are you sure it is a compile time error? Anyway, still looks like a binary compatibility issue. Most like due to Decompose version is not compatible with Compose version. I suggest to try downgrading Compose version. I think it should work with at least `1.0.0-alpha4-build348`.

[2021-11-30 10:15] anhanh11001 commented on #269
Thanks for the help, I was using old Compose version

[2021-11-30 10:15] #269 closed

[2021-12-05 12:29] Nikola-Milovic opened #271 "Web Browser routing support"
Raising an issue as per the conversation over at [MVIKotlin Slack channel](https://app.slack.com/client/T09229ZC6/C01403U1ZGW/thread/C01403U1ZGW-1638266614.037100)

As discussed, what do others think about having the support for routing in web browsers (eg having paths in the URL, yourwebsite/users/profile and etc...).

There are two main options for the URL paths:
1) **Hashed paths**
eg. example.

[2021-12-05 12:47] arkivanov commented on #271
Thanks for such a detailed explanation. I will start thinking about it and will provide updates here.

[2021-12-17 06:59] plusmobileapps commented on #235
Is there anything stopping this work of updating the project to kotlin 1.6.0 to fix the sample? Jetpack compose compiler?

[2021-12-17 09:47] arkivanov commented on #235
Moved to https://github.com/arkivanov/Decompose/issues/3

[2021-12-17 09:47] arkivanov commented on #271
Moved to https://github.com/arkivanov/Decompose/issues/1

[2021-12-17 09:48] arkivanov commented on #268
Moved to https://github.com/arkivanov/Decompose/issues/2

[2021-12-18 01:35] plusmobileapps commented on #3
Is there anything stopping this work of updating the project to kotlin 1.6.0 to fix the sample? Jetpack compose compiler?

[2021-12-18 10:39] arkivanov commented on #3
I will do the update in the coming days. There are also some changes in the library, that we can do. E.g. probably we can remove the `-jetpack` module, because the `-jetbrains` can now be used instead. And the latter should be renamed in this case.

[2021-12-18 11:36] arkivanov opened #5 "Update Kotlin to 1.6.x"
Things to consider:

- Version 1.6.0 has some bugs (e.g. [KT-49798](https://youtrack.jetbrains.com/issue/KT-49798)), perhaps better to skip this version.
- There is no stable version of Jetpack and JetBrains Compose version compatible with Kotlin 1.6.10 as of now.
- Mind #3

[2021-12-18 11:37] arkivanov commented on #3
I filed a separate issue for the Kotlin version update: #5

[2021-12-19 22:54] akulpillai opened #6 "[Security] Workflow build.yml is using vulnerable action actions/checkout"
The workflow build.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2)

[2021-12-19 22:54] fockboi-lgtm opened #7 "[Security] Workflow publish.yml is using vulnerable action actions/checkout"
The workflow publish.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2022-01-01 12:15] arkivanov opened #11 "[3.0.0] Remove extensions-compose-jetpack module"
Since one of the recent releases of JetBrains (MPP) Compose, a library that depends on JetBrains Compose can be used in an Android project that depends on Jetpack Compose. This makes the `extensions-compose-jetpack` module useless, the `extensions-compose-jetbrains` module can be used instead. Further, `extensions-compose-jetbrains` module can be renamed to just `extensions-compose`.

This task sh

[2022-01-11 21:06] ScottPierce opened #13 "Error when moving Compose Desktop app between screens"
I get this crash when moving my Desktop app between my 1080p screen and my apple m1 laptop screen:

[code]

[2022-01-11 21:19] arkivanov commented on #13
Thanks for the report. However it's not clear what is the cause. Would it be possible to provide some code of the composables and components mentioned in the stack trace. Also the second exception seems like an internal Compose error, which might be the cause.

[2022-01-11 22:33] ScottPierce commented on #13
You are right. Sorry, I'm doing too many things today - I opened up an issue with Compose here - https://github.com/JetBrains/compose-jb/issues/1687

[2022-01-11 23:28] arkivanov commented on #13
From what I can understand from the stack trace, `RootDeviceComponentImpl` creates a `Router` in the `init` section, which in turn registers to the `StateKeeper` for stack preservation purposes. The latter has a check which verifies that there are no duplicate keys registered. This should not normally happen (unless there is a bug of course).
But then weird things happen. As far as I see, `RootDev

[2022-01-11 23:31] arkivanov commented on #13
Also worth to see how the very root component is initialised. A common mistake is to instantiate the root component inside a composable function without `remember`. Ideally it should be instantiated in the `main` function, before Compose is even started.

[2022-01-11 23:51] #7 closed, assigned to nobody

[2022-01-15 21:34] arkivanov commented on #1
Closed via #15 and #16

[2022-01-15 22:55] #5 closed, assigned to nobody

[2022-01-16 09:48] gnawf opened #19 "Why do configurations in the stack have to be unqiue?"
Maybe something obvious I missed, but why do configurations have to be unique? Configurations in my mind are basically URL paths, right? So why can't the user visit the same URL more than once?

[2022-01-16 10:18] arkivanov commented on #19
Hello and thanks for the question. This is because how the API is designed, the main method for navigation is as follows: `navigate(transformer: (List<C>) -> List<C>)`. So instead of direct commands like `push` or `pop`, there is one single method `navigate`.

One the one hand, this gives a lot of flexibility, as you can manipulate the stack how you want. For example you may want to navigate from

[2022-01-16 19:09] aartikov commented on #19
@arkivanov Hi. There are cases where the same screen can occur multiple times in a stack.

For example, imagine a social networking app. You can open a `UserA` profile, then a friend list of this user, navigate to `UserB`, to his friend list and then again to `UserA`. By pressing a back button we will visit these screens in the opposite order.

What is the best way to implement it with Decompose?

[2022-01-16 19:39] arkivanov commented on #19
Thanks for the use case! First of all please consider the [bringToFront](https://arkivanov.github.io/Decompose/router/navigation/#bring-to-front) navigation function. So if `UserA` is already in the stack, it will be moved to top and so there will be no duplicated screens. This might be a better UX, and the screen will appear faster because it already exists in the memory. However if this behaviou

[2022-01-16 20:16] aartikov commented on #19
@arkivanov seems like good options. Thank you!

[2022-01-16 20:30] arkivanov commented on #19
Closing for now, feel free to reopen if there are more questions or issues.

[2022-01-16 20:30] #19 closed, assigned to nobody

[2022-01-21 18:56] ScottPierce commented on #13
I wasn't `remember`ing the Components created. This is what caused the issue.

[2022-01-21 18:56] #13 closed, assigned to nobody

[2022-01-28 12:36] arkivanov opened #23 "Broken documentation links in samples' readme files"
READMEs with broken links:
- https://github.com/arkivanov/Decompose/tree/master/sample/counter
- https://github.com/arkivanov/Decompose/tree/master/sample/master-detail

The proper link is https://arkivanov.github.io/Decompose/samples/ with a corresponding hash fragment.

Also would be good to add a similar README file to the [dynamic-feature](https://github.com/arkivanov/Decompose/tree/master/sam

[2022-01-28 16:59] arkivanov commented on #23
The Counter sample README is fixed via #24

[2022-01-28 17:00] arkivanov commented on #23
The Master-Detail sample README is fixed via #25

[2022-01-29 09:56] arkivanov commented on #23
The Dynamic Feature sample's README was added in #26

[2022-01-29 09:56] #23 closed, assigned to nobody

[2022-01-29 13:44] arkivanov opened #27 "Broken link to samples in the main readme"
The "project website" link in the [Samples section](https://github.com/arkivanov/Decompose#samples) of the main README is broken. It should be https://arkivanov.github.io/Decompose/samples/ instead.

[2022-01-29 14:03] Aman-Mandal commented on #27
Hey, Can I take this issue?

[2022-01-29 14:15] EliavYair1 commented on #27
i fixed your issue inside your project please approve :D

[2022-01-29 14:24] arkivanov commented on #27
Closed via #28, thanks!

[2022-01-29 14:24] #27 closed, assigned to nobody

[2022-01-29 14:25] EliavYair1 commented on #27
you're welcome 👍🏽

[2022-02-03 14:16] Kotlinlife opened #30 "How solve show dialog feature"
How solve show dialog in decompose?
Is it just differen child component?
thanks

[2022-02-04 19:03] #30 closed, assigned to nobody

[2022-02-09 18:56] arkivanov opened #33 "Update Jetpack Compose to 1.1.0"

[2022-02-09 20:33] #33 closed, assigned to nobody

[2022-02-12 14:56] evjava opened #35 "How to specify the order of back press handlers?"
I want to specify the order of handlers like follows:
1. close drawer (_if open_)
2. close search (_if expanded_)
3. handle backpress by component (_if can_)
4. router.pop
4. handle double-press (_first press for toast "press twice to exit", second quick press for exit_)

I can implement all these handlers, but I don't understand, how to tangle them together in __correct order__.

Is there some AP

[2022-02-12 17:32] #35 closed, assigned to nobody

[2022-02-20 23:22] amuna opened #41 "How to be notified when browser back button is pressed for web project?"

[2022-02-21 21:33] #41 closed, assigned to nobody

[2022-02-22 14:13] amuna opened #43 "Child is not created on forward press. Composable does not render."
This is the flow when website is launched.

1. Starts on Homepage.
2. Click on Button to show next screen. (router.push(Config.Splash) )
3. user press back button (returns to homepage)
4. user pressed forward button
5. Blank white screen is seen. How to create child when forward is pressed?

[code]

[2022-02-22 14:27] arkivanov commented on #43
Hello @amuna. You can check the [Counter](https://github.com/arkivanov/Decompose/tree/master/sample/counter) sample, it should work fine with this scenario. Here is the [Root component](https://github.com/arkivanov/Decompose/blob/master/sample/counter/shared/src/commonMain/kotlin/com/arkivanov/sample/counter/shared/root/CounterRootComponent.kt). Also please make sure you [configured your app prope

[2022-02-23 14:42] amuna commented on #43
Hi @arkivanov. The app is configured properly and is in the correct directory. I'm following the ToDo app structure and it appears to be different than the counter app. What I've noticed is that the Config will be pushed by the router when browser back pressed but the screens wont render via crossfade. I've added some more code which may help. Thank you for your time.

[code]

[2022-02-23 14:53] arkivanov commented on #43
Perhaps, you meant "when browser forward pressed", not "back"? Because as per the initial comment: "Blank white screen is seen. How to create child when forward is pressed?".

The [Todo sample app](https://github.com/JetBrains/compose-jb/tree/master/examples/todoapp) does not support web history routing. If you are trying to add the web history routing to the Todo sample app, then there are at lea

[2022-02-24 14:34] amuna commented on #43
Yes, I meant forward press.

**routerState.activeChild.instance** in crossfade parameter is returning a unit when forward is pressed rather than Child. That is why a blank white screen is being shown. Web routing on todo app would be great! I had an idea of keeping my own stack which tracks the progress of the router stack. And whenever a Unit is received in the crossfade, we would know forward is

[2022-02-24 14:41] arkivanov commented on #43
This sounds like a bug, most likely in the JS compiler. Because `routerState.activeChild.instance` should return a `Child`, as per its type. I will check and provide updates here. Thanks for raising!

The main issue with it in the todo app is the in-memory database. Deep-links will not work properly. E.g. if you open the details screen of an item and click the Browser's refresh button, the app wil

[2022-02-24 18:23] arkivanov commented on #43
@amuna I tried to add the web history to the sample todoapp, everything works as expected. I uploaded the changes to the [todoapp-web-history](https://github.com/arkivanov/compose-jb/tree/todoapp-web-history) in my fork, here is the commit: [829e9d1a23f9046d9ea09cb16d5f78d341092231](https://github.com/arkivanov/compose-jb/commit/829e9d1a23f9046d9ea09cb16d5f78d341092231).

https://user-images.githu

[2022-03-09 22:44] arkivanov opened #44 "Update JetBrains Compose to 1.1.0"

[2022-03-10 16:01] Intektor opened #45 "Coroutines Interop"
I was wondering why you use your own State implementation instead of using MutableStateFlow. Is there any benefit in using your State implementation, as it looks like it's just an observer pattern? As I really like to use flows, I was also asking myself if there is something similar to the Android viewModelScope, a componentScope maybe, that is cancelled when the component is killed.

[2022-03-10 16:03] #45 closed, assigned to nobody

[2022-03-10 16:24] arkivanov opened #47 "After making this repo a fork, search in the repository doesn't work"
As mentioned in the readme, code search doesn't work in this fork because it is not indexed by GitHub.

There are two ways of fixing this:

- Make this repository more stars than the upstream
- Try to unfork the repository, probably by asking GitHub support

The community can definitely help with the first point. And I will try the second option once this repository diverge significantly enough.

[2022-03-11 20:42] #44 closed, assigned to nobody

[2022-03-16 14:05] arkivanov opened #50 "Compose Extensions - different animations for different screen"
With the existing animations API, the `Children` function shares the same animation across all child screens. It would be good to be able to define different animations for different screens. To be investigated.

[2022-03-18 16:47] arkivanov opened #52 "Compose Extensions - consider disabling child views while animating"
Currently child views are interactive while the animation is in progress, which makes it possible to navigate twice to the same screen.

[2022-03-22 13:09] Prototik opened #54 "Reasons to bound Value for non-null values only?"
I want to ask for a reason to define Value as `Value<T : Any>`, not just `Value<T>`.

Is it intended? In my project i need to use `Value` for nullable types as well, and I don't see any practical reasons to define Value as `Value<T : Any>`.

Currently I forced to use it with custom wrapper (like `Optional` in java), but actually i don't need it if it will be just `Value<T>`.

[2022-03-22 13:25] #54 closed, assigned to nobody

[2022-03-23 06:41] racka98 opened #56 "Child gets recomposed more than once at startup in Compose Desktop"
I have 2 problems at the moment.

1. When you launch the app on Compose Desktop the initial configuration destination gets called more than once which causes the Children block to be called more than once causing multiple recompositions which can lead to a crash.

You can see here on the first screenshot that at the launch there are multiple calls to same thing (related to the Home Screen):
<img w

[2022-03-23 09:13] arkivanov commented on #56
Hello. I didn't deep dive into the issue yet. But from the first sight, we should never rely on how much time recompositions should happen.

Ideally components and their contexts should be created outside of Composables functions. E.g. the Root component should be created in the main function, before Compose `application` is called. See the example: https://github.com/JetBrains/compose-jb/blob/f18

[2022-03-23 09:20] arkivanov commented on #56
I believe this should be mentioned in the documentation, I will add. Thanks for raising.

[2022-03-23 10:10] racka98 commented on #56
This method seems to have stopped the crashes which were caused by my ViewModel being created more than once rapidly and causing SQLDelight to crash my app due to conflicting transactions.
Even though the first created Child is still being called more than once it no longer crashes or freezes the app like before.
Thanks for pointing that out.

But the navigation to About screen issue still persist

[2022-03-23 10:13] arkivanov commented on #56
Do you want to apply my suggestions? Components and contexts should not be created directly in composable functions. Either in the main app or in `remember`.

[2022-03-23 10:40] racka98 commented on #56
I understand what you mean. All of my components are created outside of the composables just like in the documentations but my current issue is with the single click (onAboutClick) for navigation to one route (About Screen) that does not activate no matter what I try. Maybe I should open a new issue since it's not directly to recomposition. Thank you for your time.

I'll close this issue since I'v

[2022-03-23 10:46] arkivanov commented on #56
Let's keep this issue open for a while, I want to add this to the documentation.

As far I see by the link provided above, components are created inside Composable functions. E.g. in the [App function](https://github.com/Thinkrchive/Thinkrchive-Multiplatform/blob/dbab7c9eca472824ca2f49677041d039cfa0b0ab/desktopApp/src/jvmMain/kotlin/work/racka/thinkrchive/v2/desktop/ui/navigation/App.kt#L21).

[2022-03-23 11:02] racka98 commented on #56
Already fixed that as per your recommendation. It's already moved to the main function that's why it not longer crashes like before.

See [Main.kt](https://github.com/Thinkrchive/Thinkrchive-Multiplatform/blob/e1f58226194822897f6efe8fd54eab98497afb5d/desktopApp/src/jvmMain/kotlin/work/racka/thinkrchive/v2/desktop/Main.kt#L14) in the new commit

[2022-03-23 11:13] arkivanov commented on #56
Thanks, I will try to check the project today or tomorrow.

[2022-03-23 13:34] arkivanov commented on #43
Closing the issue for now. Feel free to reopen if there are any questions or concerns.

[2022-03-23 13:34] #43 closed, assigned to nobody

[2022-03-23 21:49] arkivanov commented on #56
@racka98 It seems like you forgot to add parentheses [here](https://github.com/Thinkrchive/Thinkrchive-Multiplatform/blob/e1f58226194822897f6efe8fd54eab98497afb5d/desktopApp/src/jvmMain/kotlin/work/racka/thinkrchive/v2/desktop/ui/screens/splitpane/HomePaneComponentImpl.kt#L41). It should be `onAboutClicked()` not just `onAboutClicked`.

[2022-03-23 22:09] arkivanov commented on #11
It seems that the major and minor versions are now aligned, and any difference in patch versions should not break anything. Perhaps we can remove `extensions-compose-jetpack` module now, and rename `extensions-compose-jetbrains` module to `extensions-compose`.

[2022-03-24 03:35] racka98 commented on #56
Oh wow. Don't know how I missed that. Thanks for your timel

[2022-03-26 13:28] amuna commented on #43
Yes I've observed this issue when refresh is pressed, that app is restarted from the beginning. Is there a way to prevent this? One idea I had was store the current state of the app in cache and if a restart occurs and cache is not empty, then we can reload the app with the saved information. Do you have another approach to handle this situation.

[2022-03-26 13:43] arkivanov commented on #43
@amuna I'm not quite experienced in Web dev. Perhaps the database instance can be retained via `window.sessionStorage`. See https://stackoverflow.com/questions/16206322/how-to-get-js-variable-to-retain-value-after-page-refresh

If this works, you may also want to retain the root `StateKeeper` and `InstanceKeeper`, so the navigation state and objects like Stores are also retained. Not sure how good

[2022-03-26 18:11] arkivanov commented on #43
Turned out that `sessionStorate` can only store strings. Serializing a database into a string is probably a terrible idea.

There is [absurd-sql](https://github.com/jlongster/absurd-sql), which looks like a persistent storage for browsers. I [mentioned](https://github.com/cashapp/sqldelight/issues/2694#issuecomment-1035589713) it in a SQLdelight 2.0 thread that it would be good to support, but got

[2022-03-26 23:17] #52 closed, assigned to arkivanov

[2022-03-26 23:25] arkivanov commented on #11
The only concert left is the release cycles. It seems that JetBrains Compose is being released a couple of weeks after Jetpack Compose. Waiting for a JetBrains Compose release may be inconvenient. Let's wait for Jetpack Compose 1.2.0 and see how it goes.

[2022-03-28 08:30] arkivanov commented on #47
The repository was detached from the parent, the code search now works! Thanks for all your support! ♥️

[2022-03-28 08:30] #47 closed, assigned to nobody

[2022-03-31 21:09] #56 closed, assigned to nobody

[2022-03-31 21:48] #6 closed, assigned to nobody

[2022-04-01 00:44] naltynbekkz opened #61 "Navigate for result"
Is there an example on how to do navigation for result? Is it supported?

[2022-04-01 00:49] #61 closed, assigned to nobody

[2022-04-01 00:49] naltynbekkz commented on #61
sorry to bother, found the links
https://github.com/badoo/Decompose/discussions/201
https://github.com/arkivanov/Decompose/discussions/40

[2022-04-01 11:22] arkivanov opened #63 "Tidy deprecated code before 0.6.0 release"
Remove everything marked with level `ERROR`. Increase existing levels from `WARNING` (default if missing) to `ERROR`.

[2022-04-01 22:46] #63 closed, assigned to nobody

[2022-04-05 07:43] arkivanov opened #65 "Consider Router.pop to return Boolean instead of throwing an error"
Currently `Router.pop` throws an error if the back stack is empty. Maybe it is better to just return Boolean instead of throwing.

[2022-04-07 17:31] moffpage commented on #11
Sure, there were discussions about release cycles for JetBrains and Jetpack Compose. Do you know what the current plan states at? I'm not following the topic, unfortunately, I'd be glad to know.

[2022-04-07 18:30] arkivanov commented on #11
@moffpage It is already possible to have a library that depends on JetBrains Compose, and use such a library in a project with Jetpack Compose. This should work.

Also, according to the latest information I have, both Jetpack and JetBrains Compose's versions are now aligned. E.g. for Jetpack Compose 1.1.x we have JetBrains Compose 1.1.y, and for Jetpack Compose 1.2.x we will have JetBrains Compose

[2022-04-08 21:58] #65 closed, assigned to arkivanov

[2022-04-09 00:07] arkivanov commented on #50
Docs are updated: #67

[2022-04-09 00:07] #50 closed, assigned to arkivanov

[2022-04-10 12:09] moffpage commented on #11
Yeah, let's see how it goes!

[2022-04-10 15:54] arkivanov opened #68 "Describe different animations for screens in the docs"
See #53

[2022-04-11 08:34] Reedyuk opened #70 "ios Counter Example fails to build"
When trying to build the ios counter example, i am getting an error:
[code]

<img width="953" alt="Screenshot 2022-04-11 at 09 32 22" src="https://user-images.githubusercontent.com/3853006/162697090-d6851ef5-64a9-4e42-b3da-bc07c18db29c.png">

I think i remember seeing something similar before and was to do with not including the decompose lib within the generate framework - maybe a red herring tho

[2022-04-11 08:56] arkivanov commented on #70
Thanks for raising, I will fix it ~~today~~ soon.

[2022-04-11 08:56] Reedyuk commented on #70
[code]

Can be resolved by doing this.

[2022-04-11 09:18] Reedyuk opened #71 "Swiftui push pop navigation example"
The decompose examples are great but they don't demonstrate a typical navigation stack of pushing and popping.

The counter and master detail examples show a 'replace' navigation but doesn't show a push transition - this is probably the most common navigation pattern used within ios/swiftui

Maybe you could take inspiration of this:
https://quickbirdstudios.com/blog/coordinator-pattern-in-swiftui/

[2022-04-11 09:21] arkivanov commented on #71
Hello. The Counter sample does [demonstrate](https://github.com/arkivanov/Decompose/blob/134b33c976b0b9d238e1163b0c7fd65c0fe37876/sample/counter/shared/src/commonMain/kotlin/com/arkivanov/sample/counter/shared/root/CounterRootComponent.kt#L53) push/pop, including nested back stack.

There is also the [TodoApp example](https://github.com/JetBrains/compose-jb/tree/master/examples/todoapp), which als

[2022-04-11 10:18] Reedyuk commented on #71
Here is a code snippet from the counter sample:

[code]

From what i can see, it's a straight replace, nothing to do with pushing and popping transition.

I was half expecting to see a NavigationView being used in swiftui

[2022-04-11 10:39] arkivanov commented on #71
@Reedyuk Exactly, the same applicable for any other UI - Jetpack Compose, React, etc. The source of truth for the navigation is Decompose's Router. The Router exposes the navigation state, where there is an active child and a back stack (inactive children). The UI is only concerned about rendering whatever is currently active. So no need to use the `NavigationView`, etc. The UI subscribes to the `

[2022-04-12 20:13] #68 closed, assigned to nobody

[2022-04-12 20:49] magom001 opened #73 "Gradle fails in Idea Community desktop compose template"
Tried on macbook m1
Idea Community version
jdk: azul-16.0.2

Create a default desktop compose template project

Steps:
- Add
[code]
to gradle dependencies
- try to run gradle `run` task

Result:
Gradle failed to run

[code]

[2022-04-12 20:52] magom001 commented on #73
The task runs as expected if I remove
[code]

[2022-04-12 20:56] arkivanov commented on #73
Never seen such an error before. Could you please attach a reproducer project?

[2022-04-12 21:04] magom001 commented on #73
I am quite sure that there is a problem with the version of the kotlin compiler and the compose plugin. By default idea offers to use kotlin 1.5.31 with compose compiler version 1.0.0

[2022-04-12 21:07] arkivanov commented on #73
This looks like an issue indeed. `extensions-compose-jetbrains` depends on Compose 1.1.0 which in turn requires Kotlin 1.6.10.

[2022-04-12 21:12] magom001 commented on #73
@arkivanov thanks, setting the right versions does fixes the issue. I am not sure if it in the documentation somewhere and I missed it.

[2022-04-12 21:14] arkivanov commented on #73
Yeah, I should start specifying required versions probably. Let's keep this issue open for now.

[2022-04-13 19:04] arkivanov commented on #73
I have updated the [latest release's notes](https://github.com/arkivanov/Decompose/releases/tag/0.6.0) with versions information. I will try to provide this kind of information for future releases as well. Thanks for raising.

[2022-04-13 19:04] #73 closed, assigned to nobody

[2022-04-14 08:23] arkivanov opened #74 "Compose for iOS, macOS and Web"
Latest builds of JetBrains Compose support native iOS and macOS targets. Let's try to add it to `extensions-compose-jetbrains` module. Since it's far from stable, a separate branch seems reasonable.

Status update: experimental `-native-compose` versions of Decompose with Compose for Darwin (Apple/iOS) are published from the `compose-experimental` branch, and have `<version>-compose-experimental`

[2022-04-14 21:43] arkivanov commented on #74
Created the branch: [compose-darwin](https://github.com/arkivanov/Decompose/tree/compose-darwin).

[2022-04-15 09:41] arkivanov commented on #74
The compiler crashes on CI, filed: https://github.com/JetBrains/compose-jb/issues/2007

[2022-04-18 16:50] antoniusnaumann commented on #71
Using a [NavigationView](https://developer.apple.com/documentation/swiftui/navigationview) can be desirable, especially when working on a SwiftUI project which targets i.e. both iOS, iPadOS and macOS to achieve visual consistency for each platform. And as far as I know, this is possible while using Decompose for Routing.

@Reedyuk From my understanding, using a `NavigationView` just for presentati

[2022-04-18 16:59] arkivanov commented on #71
@antoniusnaumann Thanks for the useful information. Please don't hesitate do add any code examples, as it may help other devs.

PS: converted this issue to a discussion.

[2022-04-18 16:59] #71 closed, assigned to nobody

[2022-04-19 09:36] arkivanov opened #77 "Try to improve the "Check failed" error message"
When there are multiple components registering in the `StateKeeper` under the same key, or multiple `Routers` in a component with the same key - there is a runtime error thrown saying `java.lang.IllegalStateException: Check failed.`. The error message is meaningless, let's try to improve the experience.

[2022-04-20 00:22] darvld opened #78 "Incomplete documentation on Compose-JB usage"
When using Decompose with Compose-JB for desktop, it is necessary to use the `LifecycleController` composable, otherwise the `LifecycleRegistry` will not work properly. However, this is not mentioned in the documentation at all (even if the samples do include it in the code). I believe this fact should be clarified in the documentation.
(If none of this is actually necessary and I'm simply missing

[2022-04-20 07:34] arkivanov commented on #78
Indeed, thanks for raising!

Actually in many cases you can just call `lifecycle.resume()` after creating the root. Of course it won't signal when the window is minimised/restored, but it's not necessarily needed.

[2022-04-21 20:15] #78 closed, assigned to nobody

[2022-04-24 17:24] #70 closed, assigned to nobody

[2022-05-01 17:33] arkivanov commented on #77
Blocked by update to Kotlin 1.6.20/21, which is blocked by Jetpack Compose.

[2022-05-03 02:05] ScottPierce opened #92 "Support Compose 1.1.1"
Can you create a release supporting Compose 1.1.1?

[2022-05-03 08:30] arkivanov commented on #92
0.6.0 is based on Compose 1.1.0 and should be compatible with 1.1.1. Why do you need an update?

[2022-05-04 09:18] arkivanov opened #93 "Describe delivering a result from one component to another in the docs"
This question is being asked quite often - how to start component B from A, and then deliver a result from B to A. This should be described in the docs.

Long story short:

[code]

[2022-05-04 20:05] ScottPierce commented on #92
Closing this as it magically started working and I can't reproduce anymore.

[2022-05-04 20:05] #92 closed, assigned to nobody

[2022-05-10 08:57] moffpage opened #95 "Handle navigation with Jetpack Compose Modal Bottom Sheets correctly"
I'm receiving a crash when trying to display a modal bottom sheet after it was dismissed (in other words - after first time) when having bottom sheet state (maybe static as well) management delegated to a Component (in Decompose terms). Maybe that's related to Jetpack Compose itself, not really sure.
Crash statement: java.lang.IllegalArgumentException: The target value must have an associated anch

[2022-05-10 09:26] arkivanov commented on #95
Thanks for reporting! I haven't check it yet, but it looks like an issue in Compose. Here is a related discussion in the accompanist repository - https://github.com/google/accompanist/issues/910.

Another related discussion - https://stackoverflow.com/questions/69346646/jetpack-compose-bottomsheet-with-empty-sheet-content-is-always-expnaded.

I will check the reproducer and file a bug to Compose i

[2022-05-10 11:51] Tommyten opened #96 "Create new Value from multiple Values"
It would be great to have a function to create a new Value from several Values, kind of like Compose's `derivedStateOf()`. I know that there is map, this however takes in only one Value, or am I overlooking something?

Use case could be for example:
You have a parent Component with several ChildComponents. When at least one of the ChildComponents is loading something, set a Value `loading` of the

[2022-05-10 12:22] arkivanov commented on #96
Thanks for the use case! At the moment I'm trying to avoid additional operators for Value, to avoid creating a yet-another-rx-library. Maybe instead you can expose a `StateFlow` or Reaktive's `BehavourObservable` (depends on what you use)?

[2022-05-10 20:20] arkivanov commented on #95
This appears to be another issue in Compose, which is marked as fixed but seems like not yet released - https://issuetracker.google.com/issues/199509587

Please use `if else` instead of Elvis operator.

[code]

I have also filed an issue to Compose about the slide-down animation being interrupted (e.g. when swiped down, the animation is interrupted immediately after the finger is lifted) - https:/

[2022-05-11 06:21] Tommyten commented on #96
Thanks for the suggestion! I'll probably resort to using `StateFlow`.

[2022-05-11 06:32] #96 closed, assigned to nobody

[2022-05-11 09:16] arkivanov commented on #95
Closing this issue as there is nothing to do in Decompose.

[2022-05-11 09:16] #95 closed, assigned to nobody

[2022-05-11 11:38] moffpage opened #98 "Add onComplete callback to Router.popWhile"
We can pass data from one child to another e.g. when pushing / replacing / bringingToFront we can provide necessary data from configuration class or tell a child to execute a function, but to be consistent with `pop(...)` function, an `onComplete: (isSuccess: Boolean) -> Unit` callback may be added.
Passing data from a child to its indirect parent is a popular use case, there're many applications

[2022-05-12 17:48] arkivanov opened #102 "Replace all warnings in docs with mkdocs' !!!warning feature"
Currently warnings in docs are displayed as quotes with an emoji:

[code]

It would be nice to use mkdocs' `!!!warning` instead.

[code]

See #101 for an example.

[2022-05-13 15:49] arkivanov commented on #102
Closed via #103

[2022-05-14 14:10] #102 closed, assigned to nobody

[2022-05-15 13:57] #98 closed, assigned to nobody

[2022-05-15 20:08] #93 closed, assigned to nobody

[2022-05-16 14:59] 1gravity opened #108 "multiple calls to defaultComponentContext() lead to a crash -> IllegalArgumentException"
Calling `defaultComponentContext()` more than once from the same Activity or from two fragments tied to the same Activity will crash with an `IllegalArgumentException`:
[code]
The culprit is the `registerSavedStateProvider` call:
[code]
This should be caught and ignored (the `SavedStateRegistry.SavedStateProvider` is already registered).
The use case for this is e.g. when using two components in a

[2022-05-16 15:20] arkivanov commented on #108
`defaultComponentContext` must not be called multiple times, there must be only one instance of the root `ComponentContext`.

You can create multiple child `ComponentContext` from the root `ComponentContext` as follows:

[code]

Ignoring the error would lead to inability of saving/restoring the state in the second component.

[2022-05-16 15:22] arkivanov commented on #108
Transferred this issue from Essenty repository to Decompose repository.

[2022-05-18 11:57] arkivanov opened #110 "Stabilise Compose Animations API"
Docs: [link](https://arkivanov.github.io/Decompose/extensions/compose/#animations-experimental). Collecting feedback and use cases here.

Points to improve:

- [x] Get rid of `Direction.IDLE` using `movableContentOf` (blocked by Compose 1.2.0 release)
- [x] Make click interception configurable? Or replace with another solution? See [b/214231672](https://issuetracker.google.com/issues/214231672)
-

[2022-05-18 11:58] arkivanov opened #111 "Stabilise Web Routing API"
Docs: [link](https://arkivanov.github.io/Decompose/child-stack/browser-history/). Collection feedback and use cases here.

Points to improve:

- [ ] Consider moving `WebHistoryController` from `commonMain` to `jsMain`
- [ ] Consider nested `WebHistoryController`

[2022-05-18 11:59] arkivanov opened #112 "v1.0.0 roadmap"
Required tasks:

- [x] Stabilize [Compose Animations API](https://arkivanov.github.io/Decompose/extensions/compose/#animations-experimental) (see #110)
- [x] Improve the "Check failed" error message (see #77)
- [x] Comply with the new [predictive back gesture](https://developer.android.com/about/versions/13/features/predictive-back-gesture) in Android 13 (see #156)
- [x] Move `Router` to `stack` s

[2022-05-24 20:27] arkivanov commented on #108
Closing this for now. Feel free to reopen if there are any issues or questions.

[2022-05-24 20:27] #108 closed, assigned to nobody

[2022-05-28 14:43] arkivanov opened #115 "Add ensureNeverFrozen to MutableValue"
Source code: https://github.com/arkivanov/Decompose/blob/master/decompose/src/commonMain/kotlin/com/arkivanov/decompose/value/MutableValueBuilder.kt

[2022-05-31 21:16] #115 closed, assigned to nobody

[2022-06-03 01:54] TaehoonLeee opened #121 "Usage of drawin compose"
Hi, can you help me?

I tried to run ./gradlew iosDeployIPhone12Debug

but it threw the following error

[2022-06-03 08:17] arkivanov commented on #121
Hello. Could you explain where do you run that command? Do you have a reproducer?

[2022-06-03 09:02] TaehoonLeee commented on #121
I solve this issue by updating xcode. Thanks for reply!

[2022-06-03 09:02] #121 closed, assigned to nobody

[2022-06-03 09:05] arkivanov commented on #121
Thanks for sharing the solution! May be useful for others.

[2022-06-16 12:01] liplum opened #122 "Can't start app only with Navigation <= No interface method startRestartGroup on ChildrenKt.Children(Children.kt:22)"
I followed [this tutorial](https://github.com/JetBrains/compose-jb/tree/master/tutorials/Navigation).
Of course, I checked [this](https://proandroiddev.com/a-comprehensive-hundred-line-navigation-for-jetpack-desktop-compose-5b723c4f256e) on *medium.com*

I almost only copied codes from the tutorial and changed the package name.

When starting desktop on InteliiJ IDEA:
[code]

When starting android

[2022-06-16 12:17] arkivanov commented on #122
This looks like a binary compatibility issue. What Compose version are you using?

[2022-06-16 12:23] liplum commented on #122
[code]
[code]
[code]
[code]

[2022-06-16 12:41] arkivanov commented on #122
Aha! You are using a very old version of Decompose. Try updating to the latest one - [0.6.0](https://github.com/arkivanov/Decompose/releases/tag/0.6.0). It should be compatible with Compose 1.1.0.

[2022-06-16 12:43] arkivanov commented on #122
You may encounter source incompatibility, feel free to ask if something doesn't compile and you are unsure how to migrate.

[2022-06-16 13:02] liplum commented on #122
Thanks, I switched to 0.6.0 just now.

The migration is easy, just replacing `something` with `essenty` in IDEA, except `ComponentContext.router`.

There is no clue for this one:
[code]
Of course, you know, `Please use ComponentContext.router extension function with initialStack argument`.

And why is `Children(routerState = router.state)` an experimental API needing OptIn? That's in your tutorial

[2022-06-16 13:24] arkivanov commented on #122
You have to use one of the functions defined [here](https://github.com/arkivanov/Decompose/blob/master/decompose/src/commonMain/kotlin/com/arkivanov/decompose/router/RouterFactoryExt.kt): either with [initialStack: () -> List<C>](https://github.com/arkivanov/Decompose/blob/d112f923a417b2923bf5478954728acfaef7d8cb/decompose/src/commonMain/kotlin/com/arkivanov/decompose/router/RouterFactoryExt.kt#L5

[2022-06-16 14:01] liplum commented on #122
Thank for your help! I finished the migration and it does work.
Also, I will check the official documentation of Decompose then.

[2022-06-16 14:01] #122 closed, assigned to nobody

[2022-06-18 13:42] amuna opened #123 "Navigation does not work on chrome ios"
Only occurs on chrome for mobile ios devices. After debugging, it appears the issue is that routerState.activeChild.instance does not update after child is created.

//This code does not get executed.
[code]

[2022-06-18 13:47] arkivanov commented on #123
It's not clear where `Crossfade` comes from? Also `routerState` is `Value` and should be subscribed in order to receive updates. If you are using React, then here is an example - https://github.com/arkivanov/Decompose/blob/d112f923a417b2923bf5478954728acfaef7d8cb/sample/shared/shared/src/jsMain/kotlin/com/arkivanov/sample/shared/Utils.kt#L12

[2022-06-18 14:05] amuna commented on #123
routerState is located in navComponent. We are using the same pattern as ToDoApp. Here is the fill code for that file. This code works well for all other browsers. Does this help with the problem?

[code]

[2022-06-18 14:12] arkivanov commented on #123
Yeah, not it's clear. I will try to debug.

[2022-06-18 14:43] arkivanov commented on #123
@amuna I tried the todoapp sample on iPad with Chrome browser, works fine - so I couldn't reproduce the issue. Could you please try to minimize the issue? This also may be either Compose or Kotlin bug.

Please use the following function with logs instead of the one provided by Decompose, and post logs here.

[code]

Also please add logs here:

[code]

Also please make sure that the `Router` is act

[2022-06-19 23:53] amuna commented on #123
Sorry for the late reply. Attached are the logs for when the app starts.

![IMG-0284](https://user-images.githubusercontent.com/25041693/174504841-c36e9aef-3e03-4f6b-873b-95073f6c7955.PNG)

And here are the logs for when we press the button.
![IMG-0285](https://user-images.githubusercontent.com/25041693/174504824-631985ad-c346-4b50-993a-d8b59aaa5f6a.PNG)
)

The website is called iknowem.com where

[2022-06-20 09:09] arkivanov commented on #123
Thanks for the logs! If I understand it correctly, the Composable function is recomposed with the new router state after `replaceCurrent(SignUp)`. Of the screen is still not updated, then looks like the issue is with `Crossfade`. Could you please try without `Crossfade`? Just switch children directly.

[2022-06-20 16:15] amuna commented on #123
I think there is an issue when router.push(SignUp) is called because the line below does not get executed (getStackData("20")). This should print 20: getData() after router.push(SignUp) but its not seen. Please see my previous comment

[code]
Here is the router and createChild method

[code]

[2022-06-20 16:27] arkivanov commented on #123
Thanks for the additional details. Now it looks like `router.push(config)` call doesn't return. Are there any errors or exceptions in the console? Would you be able to attach a reproducer project, so I could try it locally on my iOS device?

[2022-06-20 16:33] amuna commented on #123
No errors or exceptions are seen. What exactly do you mean by reproducer project?

[2022-06-20 16:38] arkivanov commented on #123
@amuna It would be very helpful to see a small project that reproduces the issue. You could strip off all the unrelated details from your project, but keep the issue reproducible. I suspect there is something specific in the code you wrote, that causes the issue to happen. At the moment, this looks like yet another bug in Kotlin/JS.

[2022-06-20 17:26] arkivanov commented on #123
I have tried one more time to reproduce the issue with the provided pieces of code with - couldn't reproduce. Either the issue is not reproducible at all on my iPad with Chrome browser, or there is something else in your project that causes the issue. A reproducer would be very helpful.

[2022-06-20 17:31] amuna commented on #123
I will send one shortly.

[2022-06-21 14:12] amuna commented on #123
I've added you as collaborator to the sampler project. Can you please confirm if you got it?

[2022-06-21 14:57] arkivanov commented on #123
Thanks, I have received the invitation and will check the reproducer soon

[2022-06-21 18:17] arkivanov commented on #123
@amuna Thanks again for the reproducer! I was able to reproduce the issue and find the cause. There seems to be an issue in `DefaultWebHistoryController`, which is used for managing the Web browser history. It uses [History.pushState()](https://developer.mozilla.org/en-US/docs/Web/API/History/pushState), which is apparently [broken](https://stackoverflow.com/a/47289493/10413396) in Chrome for iOS.

[2022-06-21 18:29] amuna commented on #123
Any estimation when the fix will be available?

[2022-06-21 18:36] arkivanov commented on #123
At the moment I doubt if there is any possible fix - the essential API looks broken in Chrome for iOS. I will follow-up in the coming days. Meantime you can try to detect the "Chrome on iOS" browser, and not pass `DefaultWebHistoryController` into `NavComponent`.

[2022-06-22 11:58] amuna commented on #123
Thank you for the quick responses. Another issue I've observed is that when the forward button is pressed, it does not go to the correct screen. It will show a blank white screen instead. Can you look into that issue as well? It should be reproducible on the reproducer. I've observed that it occurs on desktop

[2022-06-22 12:03] arkivanov commented on #123
@amuna Is it only on Chrome for iOS as well? If so, then I think this is also due to the mentioned bug in Chrome.

[2022-06-22 12:14] amuna commented on #123
@arkivanov, I tried again. On chrome, it stays on the same page when pressing forward. On firefox and safari, it will also stay on the same page. But if you click on second page, go back and then click forward, then its working fine. But on the first page it doesn't work.

Example. On our app. Click on Fan button. Press back. Then press forward. It does not work. But if you then press Influencer b

[2022-06-22 12:18] amuna commented on #123
^This test was done on desktop

[2022-06-22 17:53] arkivanov commented on #123
@amuna I have checked the second issue - basically, you should implement `getConfiguration` function properly. This is required for `DefaultWebHistoryController` so it could recreated configurations for each path. Please see an [example](https://github.com/arkivanov/Decompose/blob/d112f923a417b2923bf5478954728acfaef7d8cb/sample/shared/shared/src/commonMain/kotlin/com/arkivanov/sample/shared/root/R

[2022-06-23 11:30] amuna commented on #123
I did some research and from what I found is that there is no reliable way to determine if the browser on ios is chrome. [I've posted this question here](https://stackoverflow.com/questions/72716791/javascript-determine-what-browser-is-being-used-on-iphone-devices?noredirect=1#comment128444730_72716791) but I don't think there is a solution for this. Do you have any other ideas?

[2022-06-23 12:04] arkivanov commented on #123
No ideas yet, I have asked a couple of folks about it, and I am planning to dig the issue in the coming days.

[2022-06-23 12:11] amuna commented on #123
I'm able to detect chrome on ios using [this](https://stackoverflow.com/questions/13807810/ios-chrome-detection). Note I haven't done thorough testing on this but navigation is now working when we don't attach `DefaultWebHistoryController` into `NavComponent `.

[2022-06-23 12:14] arkivanov commented on #123
Thanks for the information! This should be helpful.

[2022-06-23 19:45] arkivanov commented on #123
Thanks again for raising this issue! After some investigation I realised that the issue is actually in `DefaultWebHistoryController`, more specifically in the way how it manages the web history. It places nodes with mutable pointers in the history stack, and modifies the pointers when the router stack is changed. For some reason Chrome for iOS doesn't like such manipulations, and stucks.

The whol

[2022-06-24 11:28] amuna commented on #123
Any estimation when it will be available?

[2022-06-24 11:30] arkivanov commented on #123
Hopefully by the end of the week.

[2022-06-25 20:27] #123 closed, assigned to nobody

[2022-06-26 13:25] amuna commented on #123
@arkivanov, any estimation when this fix will be released officially and can be used?

[2022-06-26 13:30] arkivanov commented on #123
I will release a new version today.

[2022-06-26 23:44] arkivanov commented on #123
Decompose [v0.7.0](https://github.com/arkivanov/Decompose/releases/tag/0.7.0) is released, this should work now.

[2022-07-08 15:23] evjava opened #133 "Problem with configurations containing 3rd-party non-parcelable classes."
Is it possible to use `arrow.core.Either` (or other classes from 3rd-party multiplatform libraries which isn't inherit Parcelable / Serializable) as part of configuration class?

Context: I want to store (inside some of configurations) something like `Either<TemporaryView, String>`, where the `.right()` is for an id of DbView (I don't want to store it inside configuration) and `.left()` is for a t

[2022-07-08 15:30] arkivanov commented on #133
Looks like Either doesn't implement Serializable interface. You should be able to update Essenty library to 0.4.1 and use [custom parcelers](https://github.com/arkivanov/Essenty#custom-parcelers).

[2022-07-08 20:36] evjava commented on #133
1. What about second question? (implementing router Serializable configuration instead of Parcelable)
2. Do I understand correctly, that it's impossible to implement generic `Parceler` for all `Either<A, B>`? (Type parameters isn't allowed for objects)

[2022-07-08 21:17] arkivanov commented on #133
Sure, here are the answers.

This is not possible, unfortunately. Decompose relies on Parcelable + Parcelize. This approach is scalable, e.g. it could be applied to iOS if needed in the future.

First of all, your `NotesFilterInfo` implements `Serializable` incorrectly - it contains `Either` which is not `Serializable`. So `NotesFilterInfo` can not be serialized correctly. You can try to manually

[2022-07-09 07:58] evjava commented on #133
Great, thanks for detailed answer!

[2022-07-09 07:58] #133 closed, assigned to nobody

[2022-07-09 11:22] arkivanov opened #134 "Move Router to `stack` sub-package and rename it to StackRouter"
`Router` organizes children as a stack - there is always one resumed child on top of the stack, children in the back stack are either stopped or destroyed. In the future, there could be other kinds of routers, e.g. a router that organizes children as a list (all children are active, no back stack).

To allow the room for additional routers, it is necessary to move `Router` and all its surroundings

[2022-07-11 21:44] evjava commented on #133
Finally found pretty simple solution: it's enough to wrap Screen in `Parcelable` class:

[code]

And then pass `ScreenWrapper` to the router. `Parcelable` classes with `Serializable` fields can be "parceled" without problems.

[2022-07-11 23:14] arkivanov commented on #133
@evjava This looks quite the same as in the original code snippet in the first message.

[code]

There we also have "parcelable classes with Serializable fields" - `Screen.Notes` is a parcelable class with serializable field `NotesFilterInfo`. The original issue is because serializable classes can't contain non-serializable things, e.g. `Either` can't be serialized.

[2022-07-12 11:55] evjava commented on #133
Indeed._.

Sorry, replaced `Either` with my own implementation and forgot about it.

[2022-07-16 07:50] #134 closed, assigned to arkivanov

[2022-07-16 12:26] arkivanov opened #145 "Update todoapp sample in compose-jb"
Also update the navigation tutorial.

[2022-07-18 00:01] russellbanks opened #146 "Navigation doesn't work on consecutive windows with ChildStack"
### Bug Description

In my Compose for Desktop [app](https://github.com/russellbanks/HashHash), I have a way of "restarting" the app, which is done through creating a new window with the same data and closing the previous window. However, since migrating `Router` to `Child Stack`, the navigation doesn't seem to persist between multiple windows, despite it working with the now deprecated `Router`.

[2022-07-18 07:02] arkivanov commented on #146
I have checked the code of your app. The `Root` component is a singleton, the same instance is used across windows. However its lifecycle is being controlled by `LifecycleController` composable function, that destroys the lifecycle when the first window is gone. You should either control the root lifecycle manually, e.g. just call `lifecycle.resume` somewhere. Or scope your `Root` component in eac

[2022-07-18 07:05] arkivanov commented on #146
So basically the new `Child Stack` now unsubscribes from `StackNavigation` on destroy, but the old `Router` doesn't (there is no such a concept in the old `Router`). The new `Child Stack` uncovered an issue with lifecycle in the app.

[2022-07-18 18:30] NorbertSandor opened #147 "Is the "lifecycle" state machine correct?"
This doesn't seem to be correct: https://github.com/arkivanov/Decompose/blob/master/docs/media/LifecycleStates.png

These:
[code]

[2022-07-18 18:41] arkivanov commented on #147
This is by design. The lifecycle has 5 possible states - INITIALIZED, CREATED, STARTED, RESUMED and DESTROYED. So when the lifecycle gets paused, it goes from RESUMED state back to STARTED state.

This reflects the Android lifecycle:

- https://developer.android.com/codelabs/basic-android-kotlin-training-activity-lifecycle#3
- https://developer.android.com/reference/androidx/lifecycle/Lifecycle.St

[2022-07-18 18:51] #147 closed, assigned to nobody

[2022-07-18 21:40] russellbanks commented on #146
Thank you so much for finding out the root cause of this :)

I've fixed this in my app by controlling the lifecycle a bit more manually. I'm not sure whether it's the best means but rather than `LifecycleController` calling `destroy` on dispose, I've altered it to call `stop` (so that it can be resumed when the new window is opened), and then `lifecycle.destroy()` is called when the application it

[2022-07-18 21:40] #146 closed, assigned to nobody

[2022-07-20 10:36] Burtan opened #148 "Component interface best practice"
Hey,
just one short question. Why do you use interfaces for your components, when you just have one implementation?
Thanks :-)

[2022-07-20 10:46] #148 closed, assigned to nobody

[2022-07-20 11:45] NorbertSandor commented on #111
FYI, the link is dead.

[2022-07-20 12:01] arkivanov commented on #111
Thanks, updated the link.

[2022-07-20 19:41] arkivanov opened #150 "Describe creating CoroutineScope and DisposableScope in the docs"
See #46
Here is the corresponding docs page: https://arkivanov.github.io/Decompose/component/scopes/

[2022-07-22 11:52] arkivanov commented on #145
Filed https://github.com/JetBrains/compose-jb/pull/2191

[2022-07-22 12:52] #150 closed, assigned to nobody

[2022-07-22 14:39] malliaridis commented on #150
Thanks a lot for this documentation update 😄

[2022-07-24 08:12] plusmobileapps commented on #111
The example links in that doc seem to also be dead links pointing to the wrong path?

[2022-07-24 08:19] arkivanov commented on #111
@plusmobileapps thanks! Indeed, they are also broken.

The correct ones respectively:
- https://github.com/arkivanov/Decompose/blob/master/sample/app-js/src/main/kotlin/com/arkivanov/sample/app/Main.kt
- https://github.com/arkivanov/Decompose/blob/master/sample/shared/shared/src/commonMain/kotlin/com/arkivanov/sample/shared/root/RootComponent.kt

[2022-07-24 08:22] plusmobileapps commented on #110
It would be nice to have a shared element transition between configurations, not sure if something similar to this [sample](https://github.com/mobnetic/compose-shared-element) could be done with Decompose?

[2022-07-24 08:29] arkivanov commented on #110
I have a pending branch that should make it compatible with the official shared transitions (`LookaheadLayout` + `movableContentOf`) when they land in Compose. The branch is blocked by the availability of `movableContentOf`. Waiting for the stable MPP Compose 1.2.0.

[2022-07-24 09:01] arkivanov commented on #110
Actually, I found that `LookaheadLayout` is already available to try in Compose `1.3.0-alpha01`. I will play with it and provide some updates here.

[2022-07-24 14:34] arkivanov commented on #110
Yep, `LookaheadLayout` + `movableContentOf` should work just fine even with the current animations API. It is already available in Compose `1.3.0-alpha01`, however there are immediate bugs, e.g. [LookaheadLayout doesn't support having LazyColumn inside](https://issuetracker.google.com/issues/240016022), etc.

https://user-images.githubusercontent.com/26204457/180651812-462d4661-20e3-48e8-a0cb-6d34

[2022-07-24 15:47] arkivanov commented on #111
The links should be fixed now.

[2022-07-25 10:56] arkivanov opened #156 "Comply with the new predictive back gesture on Android 13"
The docs: https://developer.android.com/about/versions/13/features/predictive-back-gesture.
Related issue in Essenty repo: https://github.com/arkivanov/Essenty/issues/57

[2022-07-26 18:12] plusmobileapps commented on #110
It seems like the [animation documentation](https://arkivanov.github.io/Decompose/extensions/compose/#animations-experimental) is out of date since the stack navigation changes. I'm assuming `childAnimation` is supposed to be `stackAnimation`?

[2022-07-26 18:19] arkivanov commented on #110
Thanks for raising! I updated the documentation a while ago with multiple rounds of self code review, but seems like I missed this one.

[2022-07-31 21:14] arkivanov commented on #156
Blocked by upgrade to Kotlin `1.7.x`.

[2022-08-01 18:30] #77 closed, assigned to arkivanov

[2022-08-04 19:00] arkivanov commented on #11
Jetpack Compose `1.2.0` was more than a week ago, and there is still no stable release of JetBrains Compose (the latest version at the moment is `1.2.0-alpha01-dev753`). It looks like `extensions-compose-jetpack` module should stay for now.

[2022-08-04 19:06] #156 closed, assigned to arkivanov

[2022-08-05 10:17] arkivanov opened #172 "Mistake in the docs"
https://arkivanov.github.io/Decompose/child-stack/overview/#delivering-a-result-when-navigating-back

`childStack.active.instance` -> `childStack.value.active.instance`

[2022-08-08 09:29] arkivanov opened #173 "Update articles"
The API has changed and most of the existing articles about Decompose are outdated.

[2022-08-08 16:53] arkivanov opened #174 "Logo wanted!"
Decompose needs its own logo. The logo should express the main purpose of the library:

Something like a few coloured nodes connected into a tree, some of the nodes are grayed out (inactive). That's just my imagination. :-)

[2022-08-09 19:59] malliaridis commented on #174
I am not creative nor a designer, so show mercy with my attempts. 😂 I thought I give it a try and see what will come out.

I hope I can give with those initial ideas some inspiration for actual designers. Can't wait to see the final logo of Decompose 😄

I tried to make some use of all words, including "breaks the code down" (zero and one as the background represent the code), "small and independen

[2022-08-10 16:17] arkivanov commented on #174
Thanks! I see having a tree of nodes as a right direction. Though I would kinda prefer a flat "material" style, with circle shapes and different colours - blue, yellow, green, red.

Here is something I had in mind a while ago.

<img src="https://user-images.githubusercontent.com/26204457/183961203-0d7ce89d-b016-438b-a117-a785f2dfe2cd.png" width="256" >

[2022-08-11 19:18] malliaridis commented on #174
This looks actually pretty good and simple. I would probably go for a bit larger circles, so when the logo scales down, the colors are not getting lost because of the small size.

[2022-08-12 14:30] hompiler opened #175 "Extension for Compose Dependencies Not Being Added"
every time I try to use any compose extension either jetpack or JetBrains it's not showing

[2022-08-12 14:48] arkivanov commented on #175
Could you please share your Gradle configuration? And also could please elaborate what exactly not showing?

[2022-08-12 15:36] hompiler commented on #175
[code]
anything in the extension documentation is not resolving like `Value<T>.subscribeAsState()` or `Children()`
https://arkivanov.github.io/Decompose/extensions/compose/

[2022-08-12 15:39] hompiler commented on #175
the whole package
import com.arkivanov.decompose.extensions
is not resolving when i try to import it manually

[2022-08-12 16:01] arkivanov commented on #175
The version you specified for `extensions-compose-jetbrains` is incorrect. All modules under `com.arkivanov.decompose` group should have the same version, in this particular case it should be `1.0.0-alpha-01`. Could you please try changing the version?

[2022-08-12 16:55] hompiler commented on #175
Yeah, it's working now.
I misunderstood the release details where it says: `JetBrains Compose: 1.2.0-alpha01-dev753`. I thought that means that 1.2.0 is the compatible version with this decompose release.
https://github.com/arkivanov/Decompose/releases/tag/1.0.0-alpha-01
Sorry for that.

But I've some difficulties understanding the new stack navigation API. I'd be grateful if you can provide any s

[2022-08-12 16:55] #175 closed, assigned to nobody

[2022-08-12 17:08] arkivanov commented on #175
Yeah, that just means that Decompose extensions `1.0.0-alpha-01` depend on JB Compose `1.2.0-alpha01-dev753`.

Re: stack navigation - you can check samples:

Bottom bar navigation: https://github.com/arkivanov/Decompose/blob/master/sample/shared/shared/src/commonMain/kotlin/com/arkivanov/sample/shared/root/RootComponent.kt
Stack navigation: https://github.com/arkivanov/Decompose/blob/master/sample

[2022-08-13 07:17] plusmobileapps commented on #174
what about a bloc inside a bloc?

![decompose.png](https://user-images.githubusercontent.com/31364841/184473373-096518d3-1302-488a-a85d-0b8f8d4de3ed.png)

[2022-08-18 22:17] Solace-Studios commented on #112
@arkivanov For someone starting a new project, would you still recommend using Decompose in its current state?

[2022-08-18 22:59] arkivanov commented on #112
@Solace-Studios Decompose is already used in production in various projects. Version `1.0.0` should be released within a month, however I don't expect any significant API changes. If you like Decompose then absolutely go ahead and use it.

[2022-08-19 00:21] Solace-Studios commented on #112
@arkivanov That's great news! I actually just found out about it. I've been looking into RIBs as an architecture for a new cross platform comparable product to Uber these last few weeks. I was wondering how I was going to support navigation, recovery from process death, and integrate Compose and SwiftUI. This just happens to support all those things it seems. I'm running through the sample, I like

[2022-08-19 09:54] arkivanov commented on #112
Yes I am, however I'm not sure if I can mentioned anything about it, sorry. You can try [searching](https://github.com/search?q=%22com.arkivanov.decompose%22&type=code) through GitHub, there are 3k+ code search results.

[2022-08-22 08:40] #172 closed, assigned to nobody

[2022-08-23 11:31] VladislavSumin opened #186 "Unexpected side effect from Children animation"
When we navigate, for example with `replaceCurrent` with existing animation instanceKeeper && lifecycle of old screen destroying immediately.
`decompose-1.0.0-alpha-03-sources.jar!/commonMain/com/arkivanov/decompose/router/stack/StackControllerImpl.kt:49`

Expecting behavior: instanceKeeper && lifecycle are destroyed AFTER animation complete.

UPD: it is also quite unexpected that InstanceKeeper d

[2022-08-23 11:46] arkivanov commented on #186
Hello. This is actually by design. The `decompose` core module does not know anything about animations. The navigation is performed synchronously from one screen to another. Once the navigation method returns, the components are already switched, and their lifecycles are switched as well. However this should cause any glitches. The destroyed component should hold the last state and the animation s

[2022-08-23 11:47] arkivanov commented on #186
Re: it is also quite unexpected that InstanceKeeper does not throw an exception when trying to use it after onDestroy

This is a good point! I have filed https://github.com/arkivanov/Essenty/issues/69 for this.

[2022-08-23 14:39] VladislavSumin commented on #186
Thanks for the answer,

Yes, you are right, I used InstanceKeeper not quite for its intended purpose. I kept the ViewModel instance in it. Now I understand what was my mistake and I will fix it.

ps I created a pull request where I added a check `isDestroyed` for InstenceKeeper

[2022-08-23 14:39] #186 closed, assigned to nobody

[2022-08-24 17:33] moffpage commented on #81
Project name: Vlife
Description: An ex super-app (more relevant) for motorists with loyalty programs, marketplace, payments and other services.
Project type: Production
Supported targets: currently only Android
You can install in in Google Play Store: https://play.google.com/store/apps/details?id=kz.vlife.grandera

[2022-08-24 17:52] arkivanov opened #187 ""Used by" list"
It would be good to have a list of companies/users/projects where Decompose is used. I suggest to stick to the following format, but feel free to omit/add/modify any details. ❤️

Project name: \<project name\>
Project type: production/pet/sample
Company name: personal/\<company name\>
Supported platforms: Android, JVM, Web, iOS, macOS, etc.
Link (an open source repository or a web site): \<link\>

[2022-08-24 17:56] moffpage commented on #187
Project name: Vlife
Description: Vlife is an app for motorists and everyone who likes to get Points and privileges for their usual purchases: sign up for a car wash, make purchases in installments in Market, pay for utilities, take out insurance and accumulate Points with our partners.
Company Name: LLC "GRAND ERA"
Project type: Production
Supported targets: currently only Android
You can install

[2022-08-24 18:05] arkivanov opened #188 "Investigate Predictive Back Gesture for Compose extensions"
In #156 Decompose got support for the new [Predictive Back Gesture](https://developer.android.com/about/versions/13/features/predictive-back-gesture) on Android 13. When the back stack is empty, the current activity can be closed with a nice preview behind it. It would be good to support similar gesture for child components as well, so a child screen could be closed with a preview behind it.

[2022-08-24 22:51] #188 closed, assigned to nobody

[2022-08-25 10:48] serhiynovos opened #189 "Running app-darwin-compose sample on real iOS device"
Can you please provide gradle configuration for running sample app on real iOS device

[2022-08-25 11:22] arkivanov commented on #189
Thanks for pointing it out! I will be able to do it only in the middle of September, because i don't have my iOS device handy. I will appreciate it if someone would like to contribute. I think changes should be done in the `compose-darwin` branch, in the following file.

https://github.com/arkivanov/Decompose/blob/d29e1229193c09df7bd16003e2a88fb2af1956e6/sample/app-darwin-compose/build.gradle.kts#

[2022-08-27 05:16] YektaDev commented on #174
I gave it a shot.
---
![decompose](https://user-images.githubusercontent.com/22149430/187015734-4d485a62-7d9d-44eb-89a4-5d71a7f77687.png)
---
![decompose_outlined](https://user-images.githubusercontent.com/22149430/187015743-99c2dea5-62ff-4727-91bf-0bf739b1e57d.png)

[2022-08-27 12:35] arkivanov commented on #174
@YektaDev Thanks, nice one! That red route is like an active sub-tree, and blue nodes are inactive? Looks awesome! Would it be possible for you to provide square assets as well, without the title?

[2022-08-27 13:24] YektaDev commented on #174
@arkivanov Exactly, a minimal component tree with an active sub-tree. Here are the square assets (open in a new tab to see in full size):
<p align="center">
<img width="256" src="https://user-images.githubusercontent.com/22149430/187031849-2d0a800c-850a-4fd2-9a67-1fb0b5431b0e.png"/>
<img width="32"/>
<img width="256" src="https://user-images.githubusercontent.com/22149430/187031852-2b47f913-9e5b-4

[2022-08-28 12:49] arkivanov commented on #174
@YektaDev Thank you! I'm going to set this as a logo of the project. Would it be possible for you to also provide a source? So I could cut different sizes later if needed.

[2022-08-28 13:17] YektaDev commented on #174
Glad to help. The files aren't in vector format; but I chose the sizes big enough to prevent the need of scaling up.
[Decompose_PSD.zip](https://github.com/arkivanov/Decompose/files/9439711/Decompose_PSD.zip)

[2022-08-28 13:41] YektaDev opened #190 "`Unresolved reference` in `extensions-compose-jetbrains` of version 1.0.0-alpha-04"
I used to have a dependency on `com.arkivanov.decompose.extensions.compose.jetbrains.stack.Children` in a source file located in a `commonMain` directory and I used it with no problems; but when I bumped the library version from `0.8.0` to `1.0.0-alpha-04`, I got `Unresolved reference: Children` error, which is not true since I can still compile and run the app for all my targets (android & JVM).

[2022-08-28 13:51] malliaridis commented on #174
Allow me then @YektaDev to provide the logo as SVG (with the option to add background or change the colors).
[decompose-logo-svg.zip](https://github.com/arkivanov/Decompose/files/9439778/decompose-logo-svg.zip)

[2022-08-28 14:03] malliaridis commented on #190
I faced this issue too. I switched from Android Studio to Intellij IDEA and it worked fine again, the reason is unknown tho.

[2022-08-28 14:10] arkivanov commented on #190
@YektaDev If you are using Android Studio, there are known issues of the IDe not being able to resolve multiplatform dependencies. This happens with Kotlin 1.7.x, Decompose `1.0.0-alpha-04` uses Kotlin 1.7.0, and Decompose `0.8.0` uses Kotlin `1.6.10`.

I remember people saying that the issue should be fixed in the latest Android Studio Electric Eel.

[2022-08-28 14:34] YektaDev commented on #190
@arkivanov Thanks for mentioning that! Actually, I first encountered this issue with AS Electric Eel that used AGP `7.4.0-alpha09` *(which was the latest version until about two days ago)*, but then the newer version came out that used `7.4.0-alpha10` which had [another bug](https://issuetracker.google.com/issues/243955195) with KMP that led to not being able to even sync the project! So I had to

[2022-08-28 15:12] arkivanov commented on #190
Thanks for the info! Yeah, let's close the ticket because the issue doesn't look related to the library.

[2022-08-28 15:12] #190 closed, assigned to nobody

[2022-08-28 16:43] arkivanov commented on #174
Big thanks @YektaDev and @malliaridis! I have uploaded all assets under [/docs/media/logo](https://github.com/arkivanov/Decompose/tree/master/docs/media/logo) folder. I have also added the logo to the project's [readme](https://github.com/arkivanov/Decompose), and the [documentation website](https://arkivanov.github.io/Decompose/).

[2022-08-28 16:43] #174 closed, assigned to nobody

[2022-08-30 17:30] YektaDev opened #192 "Accessing non-final property lifecycle in constructor"
I was attempting to do something similar to [this example](https://arkivanov.github.io/Decompose/component/lifecycle/#usage-example), which led to the following warning:
[code]
Since I tried a simple logging inside `onCreate` of `screenLifecycle` and nothing was shown, I wanted to see whether this warning is the reason or it's somehow related to another issue.

[2022-08-31 02:55] arkivanov commented on #192
This shouldn't be the case because `Foo` class is final. Are you using the [All-open](https://kotlinlang.org/docs/all-open-plugin.html) plugin? If so, I recommend to avoid using it. Otherwise, you can access lifecycle in the `init` section as `context.lifecycle`.

[2022-08-31 04:22] YektaDev commented on #192
Exactly as described! `Foo` is kind of a base class for screens. I tried using `context.lifecycle.subscribe(screenLifecycle)` and the warning disappeared, but it still does nothing on those events. So it's not possible to subscribe to the lifecycle from a base class?

[2022-08-31 13:02] arkivanov commented on #192
It should be possible. Could you share a reproducer code?

[2022-08-31 16:54] YektaDev commented on #192
Current sample is part of something bigger with custom component context and other stuff; but I guess just adding `abstract` to the above `Foo` and extending it from another class should suffice for testing whether the `onCreate` as an example works or not.

[2022-08-31 19:49] arkivanov commented on #192
I have just checked, the following code prints "onCreate".

[code]

Please make sure that you are passing `ComponentContext` correctly, and that you drive the lifecycle correctly. On Android it is advised to create the `Lifecycle` using extensions functions, e.g. `defaultComponentContext()`. On other platforms you should use `LifecycleRegistry` and drive the `Lifecycle` manually.

[2022-08-31 20:29] YektaDev commented on #192
The code you tested is exacly picturing how I did this. So the problem lies elsewhere; most likely in how I implemented the custom context, or probably the way I passed the context, as you mentioned. I'll soon check these places haunting the bug. Thanks a lot for your time and effort!

[2022-08-31 20:29] #192 closed, assigned to nobody

[2022-08-31 20:53] arkivanov commented on #192
No problem! If you still believe that something is not working properly, it would be useful if you provide a minimal reproducer code.

[2022-09-02 03:08] MansonLuo opened #193 "missing simple sample"
:)

[2022-09-02 12:17] arkivanov commented on #193
All samples are described here - https://arkivanov.github.io/Decompose/samples/

[2022-09-02 12:17] #193 closed, assigned to nobody

[2022-09-02 22:50] YektaDev opened #195 "(Android) Using coroutines when creating a child crashes the app if the component context is created using `defaultComponentContext()`"
Hi. I just found out that in order to create a Decompose component context using the `defaultComponentContext` function, which uses `lifecycle.EssentyLifecycleInterop.subscribe` underneath, breaks the app *(most likely because of its interaction with `androidx.lifecycle`)*, and the workaround is to either not use coroutines when creating a child or create the child in `Dispatchers.Main`. Otherwise

[2022-09-03 03:44] arkivanov commented on #195
The stack trace suggests that the navigation is performed on a background thread. The navigation must be always performed on the main thread. But without a reproducer code it's hard to say where is the mistake exactly.

[2022-09-03 07:58] YektaDev commented on #195
What I did that caused the issue was simply pushing a configuration to my stack navigation inside a coroutine. I know this can be solved simply by adding a `withContext(Dispatchers.Main) {...}` inside the coroutine right before the navigation, but I just wanted to report this behavior for the sake of it 😃.

[2022-09-03 12:24] arkivanov commented on #195
Thanks for reporting. This is expected, we have to explicitly switch to the main despatcher before navigating.

[2022-09-04 04:24] MansonLuo opened #196 "official doc and sample are outdate, please update it."

[2022-09-04 11:42] aartikov commented on #110
@arkivanov Hi. Is it possible to use [AnimatedContent](https://developer.android.com/jetpack/compose/animation#animatedcontent) with Decompose?

[2022-09-04 12:40] arkivanov commented on #110
@aartikov Technically it should be possible. E.g. the `Child Stack` just exposes `Value<ChildStack<C, T>>` - so you can use something your own instead of the `Children` function, with `AnimatedContent`. You can also try the [StackAnimation { }](https://arkivanov.github.io/Decompose/extensions/compose/#custom-animations) function that just provides the current `ChildStack` and it's up to you how to

[2022-09-04 12:41] arkivanov commented on #196
Could you point on where you found the outdated docs?

[2022-09-04 15:16] MansonLuo commented on #196
https://github.com/theapache64/decompose-desktop-example

this project use decode version of 0.4.0,but current version is 1.0.0.maybe other sample isnt same.
this sample is only one that is simple to me, cause it's for compose desktop.
thanks, could you please provide more sample only on compose for desktop?

[2022-09-05 12:24] arkivanov commented on #196
Indeed, that sample is outdated. Thanks for raising. @theapache64 Would you like to update the sample on your own? Or do you want me to update it?

[2022-09-05 12:30] theapache64 commented on #196
I can do that before Wednesday

[2022-09-05 12:31] aartikov commented on #110
@arkivanov Thank you!

[2022-09-05 12:41] arkivanov commented on #196
Thanks @theapache64 ! Please do let me know if you have any questions or issues.

[2022-09-06 04:02] theapache64 commented on #196
@arkivanov Migration [PR](https://github.com/theapache64/decompose-desktop-example/pull/3) ready. Can you please review?

[2022-09-06 23:28] arkivanov opened #197 "Add `persistent` argument to childContext function"
Currently, the `childContext` function always saves the child states (`StateKeeper`) and automatically retains all child `InstanceKeeper` instances. This may cause memory leaks when all of the following applies:

1. The `childContext` function is called with `Lifecycle` argument - `childContext(key = ..., lifecycle = ...)`.
2. The child component is not permanent - created and destroyed when neede

[2022-09-08 07:14] Knoxvillekm opened #198 "StoreExt for coroutines example"
Can you add fun asValue() for MVIKotlin store.

[2022-09-08 12:26] #198 closed, assigned to nobody

[2022-09-10 10:21] arkivanov opened #200 "Add extensions for Value<ChildStack>"
It would be nice to have some extension properties, so we could avoid writing `stack.value.active` and `stack.value.backStack`, but instead skip writing `value`:

[code]

It should be in the package [router.stack](https://github.com/arkivanov/Decompose/tree/master/decompose/src/commonMain/kotlin/com/arkivanov/decompose/router/stack), in file `ValueExt.kt`.

[2022-09-10 10:27] arkivanov commented on #189
Closed via #199

[2022-09-10 10:27] #189 closed, assigned to nobody

[2022-09-10 11:43] arkivanov commented on #196
The sample is now updated.

[2022-09-10 11:43] #196 closed, assigned to nobody

[2022-09-11 18:08] #200 closed, assigned to nobody

[2022-09-15 09:40] serrg1994 commented on #81
It web link is not working. It navigates me to Ad pages

[2022-09-15 10:16] arkivanov commented on #81
@serrg1994 please mind that this repository is not maintained. There is a new "Used by" list in the new repository - https://github.com/arkivanov/Decompose/issues/187.

The link https://github.com/Shabinder/SpotiFlyer works for me, it opens the Shabinder/SpotiFlyer. I'm not sure what could be a problem.

@Shabinder do you mind adding your project to  https://github.com/arkivanov/Decompose/issues/1

[2022-09-15 10:16] #81 closed

[2022-09-16 20:02] TimOrtel opened #206 "Swift support is somewhat confusing."
While the android support is very well documented, I find the Swift support to be confusing.

For example in the [documentation page of the components](https://arkivanov.github.io/Decompose/component/overview/#swiftui-example) shows a class called ObservableValue which does not exist and nowhere it says what purpose it is for. Only when inspecting the sample application one can see that it is a cl

[2022-09-16 20:06] TimOrtel commented on #206
In your [documentation](https://arkivanov.github.io/Decompose/component/lifecycle/), you state that one does not have to explicitly add the essenty library. However, [here](https://github.com/arkivanov/Decompose/blob/master/sample/shared/shared/build.gradle.kts#L50) you add it. Why is that?

[2022-09-16 20:48] arkivanov commented on #206
Thanks for the questions.

Indeed, it should be mentioned in the docs what is `ObservableValue` and how to use it. I will update the docs, thanks for raising.

Unfortunately it is not possible to publish something for Swift that could be used with Decompose in a client's project. This was discussed in the old repo - https://github.com/badoo/Decompose/issues/228. TLDR - two Kotlin frameworks can no

[2022-09-19 19:15] arkivanov commented on #206
Updated the docs, closing for now.

[2022-09-19 19:15] #206 closed, assigned to nobody

[2022-09-22 14:50] YektaDev opened #210 "Add `collectAsStateWithLifecycle` to Compose extensions"
Since Decompose provides a multi-platform Lifecycle API, it might be useful to also have the `collectAsStateWithLifecycle` extension for Compose which uses this Lifecycle API to handle collecting `StateFlow`s, probably with a similar functionality to [`collectAsStateWithLifecycle`](https://github.com/androidx/androidx/blob/eb79c4c8605121203218d5d2589e2d1e6f77ba76/lifecycle/lifecycle-runtime-compos

[2022-09-22 15:12] arkivanov commented on #210
Thanks for raising it, I will investigate the possibility. There are some concerns currently:

1. Since components are already lifecycle-aware, it should be possible to just avoid emitting new states while in the background. So there would be no need to collect with lifecycle on the UI side.
2. Currently none of the modules depend on coroutines directly. This would require adding dependency the de

[2022-09-29 09:56] #197 closed, assigned to nobody

[2022-09-29 15:43] YektaDev opened #216 "Update Kotlin to `1.7.20`"
The Kotlin 1.7.20 release [is out](https://blog.jetbrains.com/kotlin/2022/09/kotlin-1-7-20-released/)!

[2022-09-29 15:58] arkivanov commented on #216
Thanks! We need to make sure that both Jetpack and MPP Compose are also updated.

[2022-10-02 08:09] a-blekot commented on #187
Project name: Memorize shlokas (Sanskrit verses study)
Project type: production
Company name: personal (Aleksey Blekot)
Supported platforms: Android, iOS, Mac M1 😊
[PlayStore](http://play.google.com/store/apps/details?id=com.a_blekot.memorize_shloka)
[AppStore](https://apps.apple.com/app/id6443863948)
[GitHub](https://github.com/a-blekot/memorize_shloka)

[2022-10-02 16:46] egorikftp commented on #187
![image](https://user-images.githubusercontent.com/16294951/193465838-50554b56-3b06-4e01-8068-df9e0aa5495f.png)

Project name: За рулем (Гродно)
Description: Application helps to agregate actual situation on the roads
Project type: production
Company name: personal
Supported platforms: Android
Link (an open source repository or a web site): [Google Play](https://play.google.com/store/apps/details?

[2022-10-03 13:13] arkivanov opened #226 "Add Child Overlay example"
This could be a separate `DialogComponent` with a message string passed via constructor. We could also add an AppBar with just one action showing the dialog.

[2022-10-03 15:29] aartikov opened #227 "C::class.simpleName - possible problem with Proguard"
Hi, Arkadii.

As I can see the version 1.0.0-alpha-05 of Decompose uses `simpleName` for default keys of child stack and overlay.
It could cause a problem with Proguard when originally different class names are converted to the same name.
The bug will be catched only on a release (minified) build, that is unpleasant.

What do you think about replacing `C::class.simpleName` with `C::class.qualified

[2022-10-03 15:44] arkivanov commented on #227
Thanks for raising! Unfortunately `qualifiedName` is not available in K/JS. But having the behavior potentially different on different kinds of builds is also not good. I would rather revert the change. Or maybe use `KClass.hashCode` in JS instead of `qualifiedName`. I will think about it and fix soon.

[2022-10-03 16:42] aartikov commented on #227
@arkivanov
Oh, didn't know that fact about Kotlin/JS.

I feel ok that I need to specify keys explicitly when there are multiple child stacks in a component. It is a quite rare case.
I would prefer safety rather than a little bit of boilerplate code.

What about `KClass.hashCode`, is it guaranteed to be unique? It is quite easy to find two `String`s with the same hash code, for example `"Aa".hashCo

[2022-10-03 16:53] aartikov commented on #210
@arkivanov

Totally agree.
It is supposed that a component is independent from UI. `collectAsStateWithLifecycle` breaks this rule. UI implicitly changes the behaviour of a component by the fact of displaying it. Such component is harder to debug, harder to test and so on.

[2022-10-03 17:00] arkivanov commented on #227
I think `hashCode` for a class is also not a good idea. It's not guaranteed to be stable, so e.g. after process death on Android, classes may have different hash codes. On JS - it's just `simpleName.hashCode()`.

[2022-10-03 17:04] arkivanov commented on #210
There was a discussion about `Flow.flowWithLifecycle` - https://github.com/arkivanov/Essenty/discussions/71. It should address this issue as well. Not sure if it is going to be added into the library, but there is a code to copy-paste. Closing this one for now.

[2022-10-03 17:04] #210 closed, assigned to nobody

[2022-10-03 20:47] #227 closed, assigned to nobody

[2022-10-03 22:22] arkivanov commented on #227
Version [1.0.0-alpha-06](https://github.com/arkivanov/Decompose/releases/tag/1.0.0-alpha-06) is released, thanks!

[2022-10-06 05:16] YektaDev commented on #216
An update: [Compose compiler 1.3.2](https://developer.android.com/jetpack/androidx/releases/compose-compiler#1.3.2) is updated to Kotlin 1.7.20

[2022-10-06 07:10] arkivanov commented on #216
Yup, now waiting for MPP Component beta03, should be released soon.

[2022-10-06 20:41] arkivanov opened #230 "Add same thread checks for MutableValue"
MutableValue is not thread safe. It would be good to add some checks to ensure it is updated always on the same thread.

[2022-10-10 18:03] azlekov opened #232 "Update custom ComponentContext docs for ChildOverlay"
Hello,

Similar to the `childStack` extension functions where custom component can be specified, it would be great to have an example in the docs for the `childOverlay`.

I'm willing to open a PR soon.

Meanwhile:

[code]

[2022-10-10 18:06] arkivanov commented on #232
Yeah, I missed this one!

[2022-10-10 19:53] #216 closed, assigned to nobody

[2022-10-11 12:11] arkivanov commented on #232
Feel free to send a PR!

[2022-10-11 14:53] azlekov commented on #232
Later today it will be.

[2022-10-12 19:57] arkivanov commented on #232
Closed via #235

[2022-10-12 19:57] #232 closed, assigned to nobody

[2022-10-13 09:50] brandonpollack23 commented on #187
Project name: Before You Die
Project type: Personal Task Managment/ TODO list software with blocking/blocked by feature
Company name: personal
Supported platforms: Android, JVM, Web, (iOS when UI is done).
Link (an open source repository or a web site): https://github.com/brandonpollack23/before_you_die

[2022-10-13 18:27] #145 closed, assigned to arkivanov

[2022-10-16 21:11] Knoxvillekm opened #238 "Proper dependency injection (DI)"
How to use it, any sample plz.

[2022-10-16 21:15] arkivanov commented on #238
Hello. You can just pass things via constructors, see [example](https://github.com/arkivanov/Decompose/blob/e720a0d2230ca530441bbed72efb97af5d8c06c2/sample/shared/shared/src/commonMain/kotlin/com/arkivanov/sample/shared/counters/CountersComponent.kt#L47).

[2022-10-16 21:15] #238 closed, assigned to nobody

[2022-10-22 13:13] ashdavies commented on #187
Project name: Playground
Project type: pet
Platforms: Android, JVM, Server
Link: [ashdavies/playground](https://github.com/ashdavies/playground)

[2022-10-23 09:39] oianmol opened #240 "Please add support for iOSSimualtorArm64"
I am getting the following error when trying to enable decompose compose extensions for compose-multiplatform in iOS target.

Source: https://github.com/oianmol/SlackComposeMultiplatform

`A problem occurred configuring project ':common'.

     Required by:
         project :common

          - Variant 'debugApiElements-published' capability com.arkivanov.decompose:extensions-compose-jetbrains:1.0

[2022-10-23 10:04] arkivanov commented on #240
The `simulatorArm64` isn't supported indeed, I will try to fix it, thanks!

However, you error appears to be about `arm64`, which corresponds to real devices. It looks like you are using `com.arkivanov.decompose:extensions-compose-jetbrains:1.0.0-alpha-06`, could you try version `1.0.0-alpha-06-native-compose`?

[2022-10-23 10:24] oianmol commented on #187
Project name: Slack Compose Kotlin Multiplatform Clone with gRPC
Project type: pet
Company name: personal
Supported platforms: Android, JVM, iOS
Link : https://github.com/oianmol/SlackComposeMultiplatform

[2022-10-23 13:55] oianmol commented on #240
Your suggestion helped when I use `1.0.0-alpha-06-native-compose?` throughout. Thanks!

[2022-10-25 09:05] #240 closed, assigned to nobody

[2022-10-30 11:55] azlekov opened #247 "Missing component lifecycle documentation for different targets"
Hey @arkivanov,

I have a common component and in its init I have:

[code]

Works like a charm on Android but on iOS I got only `Init` on the log.
I'm using latest alpha 07.

Is there anything special I need to configure on iOS?

[2022-10-30 13:13] arkivanov commented on #247
On iOS you have to control the root lifecycle manually. See the example - https://github.com/arkivanov/Decompose/blob/master/sample/app-ios/app-ios/app_iosApp.swift

[2022-10-30 14:45] azlekov commented on #247
Thanks! I was missing `onAppear` and `onDisappear`. If is no problem I will open a PR updating the docs 😎

[2022-10-30 14:57] arkivanov commented on #247
Sure, it would be good to update the docs! Perhaps in the [lifecycle](https://arkivanov.github.io/Decompose/component/lifecycle/) section? Also worth mentioning [LifecycleController](https://github.com/arkivanov/Decompose/blob/800838e16d43574c19b907829f86e51fc634dcc0/sample/app-desktop/src/jvmMain/kotlin/com/arkivanov/sample/app/Main.kt#L35) for Compose for Desktop and web (not Compose) [root life

[2022-10-30 15:56] #247 closed, assigned to nobody

[2022-10-30 16:23] arkivanov commented on #247
Thanks for your contribution!

[2022-11-12 21:04] malliaridis opened #258 "StackRouterView.removeAllViews does not remove all views when triggered twice in a row"
Using the `StackRouterView` and following the examples, the `removeAllViews()` function does not remove the views and loads the layout twice when `replaceChildView` from `children(stack, lifecycle, replaceChildView)` is called multiple times in a row.

### Steps to reproduce

1. In an android project create a component with a childstack and in its layout a `StackRouterView`
2. Add a bottom navigat

[2022-11-13 09:53] arkivanov commented on #258
Thanks for raising! Looking at your code, it appears that you are performing the navigation from inside `srMain.children` lambda. You are setting `binding.bbNavigation.selectedItemId = R.id.first` which in turn triggers the listener and calls `component.onMenuItemClicked`. Instead, you can try observing the router state changes and update the selected item accordingly. Don't forget to remove and r

[2022-11-13 12:59] malliaridis commented on #258
I see, I was following your sample projects as usual but I probably skipped this part. So the solution would be to not navigate twice by removing and adding the listener and in between update the item. Makes sense.

Thank you very much for the reference. 😄

[2022-11-13 12:59] #258 closed, assigned to nobody

[2022-11-14 21:05] #230 closed, assigned to nobody

[2022-11-14 21:08] arkivanov commented on #226
Android and Desktop samples were addressed in #255. The Web sample was addressed in #257. The iOS (SwiftUI) sample is still pending.

[2022-11-15 06:21] AJIEKCX opened #261 "Add ModalBottomSheet with Child Overlay example"
Hello, it would be great to add an example how to work with ModalBottomSheet in Compose UI with Child Overlay and also make a convenient Composable function like a Children but for ModalBottomSheet. I've implemented this one and it's work, but may be it's not perfect solution:

[code]

[2022-11-15 19:37] arkivanov commented on #261
Hello and thanks for raising! There are many different APIs in Jetpack Compose, it's pretty difficult to cover everything in samples and keep the samples simple and readable. The same is applicable for adding public APIs for Jetpack Compose. For now I'm not convinced, as I'm trying hard to keep the library as simple as possible.

Meantime, here is what I came up with, feel free to use it!

**The A

[2022-11-16 04:03] AJIEKCX commented on #261
Thanks a lot, your solution looks much better! Next problem is to understand how to do the same on SwiftUi)

[2022-11-16 09:30] arkivanov commented on #261
Stay tuned, I'm going to add an alert example today. Sheets should be pretty similar I guess.

[2022-11-16 20:15] #226 closed, assigned to nobody

[2022-11-16 20:16] arkivanov commented on #261
I have added an alert example on iOS - #263

[2022-11-17 08:57] AJIEKCX commented on #261
Thank you again, I tried to implement a similar solution but for bottom sheet. You are right, it's pretty similar to alert extension. May be it will help someone:

[code]

[2022-11-17 09:49] arkivanov commented on #261
Thanks for sharing! Closing this issue for now.

[2022-11-17 09:49] #261 closed, assigned to nobody

[2022-11-22 22:09] arkivanov opened #272 "Update docs with Child Overlay and Generic Navigation"
- Add Child Overlay and Generic Navigation links to the readme, right after Child Stack
- Add Generic Navigation link to [Navigation Overview](https://arkivanov.github.io/Decompose/navigation/overview/)

[2022-11-23 20:52] DatL4g opened #273 "```describeContents(): Int``` is not implemented on Android"
I'm working on a multiplatform project (Desktop [JVM] and Android)

Running it on desktop works without any issue, however on Android the build fails with this error:

[code]

You can take a look at the source code at https://github.com/DATL4G/BurningSeries-Android/tree/compose it's in early development, so easy to understand

[2022-11-23 21:00] arkivanov commented on #273
Please make sure you have applied the `kotlin-parcelize` plugin - https://github.com/arkivanov/Essenty#parcelable-and-parcelize

I will add this information somewhere in Decompose docs as well.

[2022-11-23 21:16] DatL4g commented on #273
I added the plugin for the android sourceSet, however it only builds after adding the ```@Parcelize``` annotation

The build is successful now but the screen is not showing on android

[2022-11-23 21:22] DatL4g commented on #273
Works now (with ```@Parcelize```)

On Android we don't create the Nav component blocking in the main thread

[2022-11-23 21:24] arkivanov commented on #273
It looks like you have a deadlock in your `runOnMainThreadBlocking` on Android. I think you don't need this, you can just create the root component inside `onCreate` method.

Let's keep the issue open, as I want to update the docs.

[2022-11-25 15:27] aartikov opened #275 "Rename "router" package to "navigation""
Hi, Arkadii.
My suggestion is to rename "router" package to "navigation".
It is not critical at all, but maybe worth to do before release version.

There is no router concept anymore since `router` was renamed to `childStack`. The word `navigation` fits better, in my opinion. Also it is used overall in the documentation.

[2022-11-25 16:36] arkivanov commented on #275
Thanks, I agree. Except for the fact that the library was promoted to Beta recently, which means the API is considered stable. But I will think about it.

[2022-11-26 15:32] Knoxvillekm opened #276 "Allowing an empty config stack"
There is no way to create a child stack with deferred loading of the stack list.
I suggest allowing an empty config stack.

As in the example, you have static image types for the kitten. But sometimes they are downloaded from the network and may be empty.

[2022-11-26 15:54] arkivanov commented on #276
Thanks! Child Stack is not empty by design. When there is only one element in the stack, the back button may close the application, or the parent may handle the back button instead.

If you need to load the stack items asynchronously, I suggest to add a `Loading` child initially. You may also add `Error` child in case loading has failed.

[code]

The Kitten sample actually uses the Generic Navigat

[2022-11-26 15:54] #276 closed, assigned to nobody

[2022-11-26 16:22] Knoxvillekm commented on #276
I did it the same way. Trying to implement tabrow:

[code]

You can view and suggest how to save correctly items variable?
I think this is bad code:
[code]

[2022-11-26 17:09] arkivanov commented on #276
Here are some suggestions.

I think you can remove `items: List<C>` from your `TabRowContent` function. Having `tabStack` should be enough.

Don't make side effects (e.g. `component.onTabClick(items[0])`) directly in Composable functions. Either use UI callbacksfrom widgets, or use effects. See [Side-effects in Compose](https://developer.android.com/jetpack/compose/side-effects).

Also it looks li

[2022-11-26 20:04] Knoxvillekm commented on #276
Thanks.

[2022-11-27 14:08] arkivanov commented on #272
Closed via #277

[2022-11-27 14:08] #272 closed, assigned to nobody

[2022-11-27 14:18] arkivanov commented on #273
Updated the docs: https://arkivanov.github.io/Decompose/navigation/overview/#configurations-are-parcelable

[2022-11-27 14:18] #273 closed, assigned to nobody